@{ Layout = "_Layout"; }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com" xmlns:fb="http://www.facebook.com/2008/fbml">
<!-- MachineID: APP50 -->
<head id="ctl00_Head1">
    <!--[if lte IE 7]>
    <style>
    .Navigation .dropdownnavcontainer
    {
        margin-left:121px;
    }
    </style>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=7" /><title>
	ROBLOX: Configure T-Shirt
</title>
    <link id="ctl00_Imports" rel="stylesheet" type="text/css" href="/CSS/Base/CSS/AllCSS.ashx?v=20110222qrwef&amp;t=RBX2" /><link id="ctl00_Link1" rel="icon" type="image/vnd.microsoft.icon" href="../favicon.ico" /><link rel="Stylesheet" type="text/css" href="/chat/css/party.css" /><link rel="Stylesheet" type="text/css" href="/chat/css/party_leader.css" /><link rel="Stylesheet" type="text/css" href="/chat/css/party_invite.css" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta http-equiv="Content-Language" content="en-us" /><meta name="author" content="ROBLOX Corporation" /><meta id="ctl00_metadescription" name="description" content="Free Games and Building Games!  A virtual world for kids with user-created castles, cars, spaceships, swords, battles, trucks, zombies and awesome destruction.  Build, battle, chat, or just hang out online." /><meta id="ctl00_metakeywords" name="keywords" content="free games, online games, building games, virtual world" />
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11419793-1']);
    _gaq.push(['_setCampSourceKey', 'rbx_source']);
    _gaq.push(['_setCampMediumKey', 'rbx_medium']);
    _gaq.push(['_setCampContentKey', 'rbx_campaign']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</head>



<body>
<form name="aspnetForm" method="post" action="Item.aspx?ID=47543155" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="dTcYWREOZdfcU8X3DSDQvHiSKPGNqvPmHHuNz9EigttNLukYfF4i0CSoHIRMvn6ppC6/pun4bk/iBcsQaDgvFER9LNDc1ex1jgAb2NGWOkhBdyfnckL3XC8sLpP07pDCNPKHImLHwomBz63IGfxFFWB/5683Ral0rpE31cR/rbo7dzvdo3l4IgyNW1nSxXSeXgF8EAiLK411I8WBWvvak+LQTtiZz4x18jUYhhYVtJIzgMisjc+fQdfQw2rZzOjdSc3omorVWrJ/1T8h4IRn9U8tbD7Tsu6iElJIhkGKNG21i8QN5gonRLS9RlR7v0Jun7GpjWr51kx4vwuRL1B7yfIgULQO8iRtHVmjzinm8O08YC0RI3TzceJxzp6gy8aOxWwVu8QRJbr6AEhbjbNH6C2so8JeQAEjZmo97u89CZs76BO5SMPBKHzr0FVSHS5U5gN557yJXmyeqaeLCTVtSno+dYNCJpx/BBSvuazi80X/y3dwc42bsCm039x/am6q9UaPHEJSYdxSGHReSiObIHI99H5/CmYT64NzZpqVmsPLgYta95lODOpAW4wt/yFEbSQsrqTd9fNxAMhfUNpq+Dm9RWO0N2scmkMH1NVgJxgQJMPHM7YtROkEq+MdxZR4rKQ2bXBdI8sLBqOevC8f6DZbPthMuYUJRtWZMQM14kF0rh1N+p7bFdix8uB0bLuKkFjy9GKhb3upB5LUpUTN+pHYby18Xzfu/yVvzcRyZafnJ0T/yPHjAmH56B+/JNT4qcJMxA0eRwmkDGkFghPvIn7dlJ1MujTvA/cypU9YE2ePZWNDGVXeKlqBBANAhg27f9gaoKflq7Ja1v29dUy7R7NEaB8PmKV6A+VSQ8mWgG7VUyiXun/FAPEM9EomeVFQ3EgpyQB8Sv8ZldNWjlz8tW5quiYle9IbfzLo7WIoyZoCHeObZxOMEr8COMb2RHhqSCg5JqxBSwcEg4CJptNwiWTgWF/jCpIxX6UMrqFL00TSWOOmx9yRzo6Quv21QApHaoqGSYKgvAaimZ1Q78qBSeEPm4cMJa5/9P5hwcxDfBy0GCJMZRWlUFayOqf9it5xYo9Vi9Zup6IpWIGrF8GruvPqaq6N+lHdeIG51Pmbi3TkT4KIAsC2djdSRJEL3lm8rGgrg6CXrcBc6g7t7BtWCX78Gl/dOylCmodUJIDDxPt9pRoBsDdVo4T1CJdCeORqWAaUEBVr/ZjfX/TTkcpCdUOsuxuRRjSb3gU9cOUbf85jqMdd1DgVCtbZ4JFmOmodNCPOsmrhjTFHae+qlygQGALDJdkKiL3V2Od1kuCbwjTrd2OEdcFs4pY1ZQvaKT/VWJNienlNoMiSEKFV8XPlZTohQbhj5Oh+eddZuQe9fdKIkAhrLhU55cqWZxn0NEwF7W2FJlChMRwMzTAa0UXhojLDOgx18a4EUhTu2SUf/L0SsDRbA1A1c0hWyqt3zBhwtRssl6x+x4HusRDM7Pmb8hdN8UMOjOgFtxlRaniP1iLXt8k0zMg9wbFHvdS39n/w3HvoieQsba1T6k6bGOPOIyDlZEC8Nx07kpSmdTAGYIn/GX+v3aYJGqjS4v4Kw+sdfSl2NdRz+3vsiC1x+9k5HvEFiLgxce9xpkAwk6wzW3qpVsULxDQeOnnzGJBXtXW9oVHtg3iLDLwQto0/HTJbXLRh1JixWD7p9+q7R0Q/ZdRCtR5c/oLpW4L41ULmAh3ec+2IFrnNbVdBFn/SLm5urbmDXvtmQcEuHgmGHyneoMAFWgYQlVkjlqY90J1EBQKEOmvOQjvjmGDm7zG4Pi/wmxWDOgXLMrEHtMw14+0SPNT46StSVn7MCndgyNEORi74oqQwdQpZI0cXQHhTM+MtURMqKvYMTEmc2bvjpzT1TWzYzoduVWx9KtdW8jGWl+mYM4fWY1e83YRhs0QIWGwSC7aArNy39S6g8ODCoiQhvgBBS7lrnv02l1CR2N9d5kZkw2oyC9JbAw4jKsQGmzN49Xd/WP9PUhbeYWTR6CLxDNP/zj16fdTLxPG7o+e67SOpdOxudfmJ3YwbezinPMnX4FJ55jBLu4NDADIAd+GXVFl/u+tCYSLnI5PAYMx0a3LcorN3HD+92TzwZOdFwU2RCqtQB/dFqKeKWAAqoTzHNOet7Dh+uCsft6rchMCOxAfDVjk9PjJTyqmETO/48q1AA208XtGMGR2uVi4nxfnxqQYJ8yZRCdG3fpbb6pw9GjgNixTgVCw9DyviLntesywHhyxs7A197t82kfaLNx5gFAEis5U3RRrloOXIC7WPyRnfsjLi3TBEzCROXQLaCDnSyj7HHatzKXQ5MFW9tTLkAGg91/zMz/XruiPGg8DbQ4nahNIwRXx8OQZiysa2yfRv+Yv0dLKSeOrGi0ibilY2hq2XC7iRYr21CuXeBzJgI9yZBN/+BWcm3Sl3EVunlcJiCBjvuh6Cz0g/E1oHH21p2jkq09doLTuBiFFrMJnJd4R5mfEUWPIdsv/fR2pJx1FY46PrwZQFLrET4ZLQmUqoXCSKVG67Nb3H+NMmC2yKRJv4xe0zxhRbMnesxKUlrP+0c2em3JyFl6oEaGGAyqzWo7wD9LuqrFLuie6mvxn8jO1YGT7j/a79IPBYgfNC62FBihLE8NScpubishqG0lfEvdtGpjLU3u3AOy3F1grPysYW1X6CONkBtXViACxXxMPa8uoaNrbaQkSP8wrHBg58B1ehCsx2cOtTL0hj8vdSJYYdV4StkM6HW2t7h6XhFfsX944jOz3EXyAheC7/UJ3bV1+oyxX3HkDtVtGsyYMJCKhHdL5m+awa5yp/+DT+RVKyHlyzPYgKGw4j993f64CY0RsVNsgmC3rrQ/aIX4PhUjYyqPwo9lqpz0Ysc/A57a69n5p0b3XVTRZ82wOEz6Tz/UqcKwa+E9oMqXptaSkudIA8nLDcmi+kuTX8j5yo6v0+4wql2MRsST9qC38xx/YQU/8j1h5yeymwuol+tPC01O6+odXC58mkPR0mrQm/y+tMXdQZK6xZrDY3W09PHmvnjwQTunvn5bxa+417rKJuHY4qp5Pvi1vQCw8IJM0XeTEXh93nTeEytNi3CUPGH4tSh9ttAFuueLkxY9Bj0q3LeJ6fUDgpShSD/l8Yam1aQXrWdj4+RwE946ZfTp6sOp6LbKYE6l/0PZ7H4OXGjNtQHG036l0/6AoYi/ummwHjHQf8uGey1/VUQFRGEpiC0IQp+DwqA9GFNH2whuPbIqKLg1cxPesRMD3ScWOtbYDVU93hBFibEaKLZWPjxVK+Qsc26P51WmpHaXcBnYsMeJ0trJutfEM+8FJL4wwmbDKYDVTWXAmtiPUqM+NNSOTscMXweV6x0+lxNs2ZpGcSEyb96SZPKHoVEMeWEnsLA6aAFZKQXtFS6bEOMXUxTobAubMGPSKDA9spZLQghYcA9KPKWUwL4DfyWNEcPvCs27LgZeFP8LjM1rDUGKwY/cX6f3WvaxDXnvE7u+Gc8VCyCBcBmwlr4c4suBgEPaz5aOJpeknG2xa53tTGrX+vMFPbMxY0MQBvKes9hrXGtBIDx+cHvLeY8o5SrVR4p+VBWaF1NKQbyufKiDXH/3+8jwUcuYwdEsecb8/oSLjqddKBOT6ea/ymxK0xqnwz3TpF7ZpG/smegk6HKDtmnNBCXGMoMf7xor2l48ke+Rmh8x5IG62YxacTeOGYSQc/XeKbiuHlTRtXwewRg+EXtcj2rIuc0R+h9SHbcY9jACqHoTvnX0ZWF58ggx2CA75SDtpJZkMX1MO1eY2+ATvIStj2ZhxEO5yrWA+KP1HYGbp3QQiZiGgTuMJr4INabi6LWJhffzuoerjNSJwRToDKaaDWK3K6S5VLuZdwHHEBCYTuYH1YHKJXjPe1me5Hv2haqjZcjzt6Y1cMzpJQXsxBPOdakOVdmBZnukUYVtrw3GqR/FqpKbgM2KnIjQqEsXILgmYOLE0qvdA4BLgZ+GANuHKTwjRjiqQ+QccGbB9RVcTKnaX1ZouTKxGCpsJo7Jq/1ZQbyR/3YRFnFR6UtOdMJoRqyy+fL9ndL41JMW0A4DT1AcPmUq9Vwp0MX1B55Z1OmVikVijfvmPAcJWiW4OjCCcosAcW0pv7yF2vMpoOcORaqOsRaOjOyChTAWIwdPWgFp79zAf1XN6V9wcYjYMl/QkUIkMXwdIgblJ+WeFMdvwP1JZO6fXFW6wW7DIdOIwnOJL9U8Zk7K1tVRS00o8zgvXmt39tvAT9iTjlHNJSqUb6m+kVfqBurgMTwNCOGPz2MGoLf97QLiimgT2mJA4Fuov1RiYKcrBzA3imt88qeMAEFmDmj/b350n7kCBCPuSEJslZ4hAh8FRv52LYdukUe1pMfaDc2aC7xwd+MwasXLxGecbOBGlFqTrVCx3UFHn9Ol5ywyGs4UcO9ZQGf3Noe+hm+QK5RRk5wPgA6oYzjki0H8M+FCfobT1IfPQtq5IG65NQ9f4BBpPj0+m6Yxod+qlG1JJZ+eJF5DiIj9ouOKXFLVhBLQM079LZGyI9IudPYmlBatITYMhGL5IdHfsSKAL3ZVY08zh+LlUF/j20T0JJRQlqyPx80mnltp5yFpxw5mUlHjk6QYr1KiAODCx6gqi+24LXE/g2RaouevBsMsVpwhTzKhB/yDaGA9pV3jm7Y8j4RB85SkVfmW9sGY69i6S6nKSDPxNWEpZG70nZwPjUE7/it9COmEtWr6UM+A2qEGiVDTkSYFf4fPNbYmR+Da+CTXrzhUARQK1eBQhyeGTlk14IBCWxE7f+9IsVgAY8OYiaQP53CQyZwK1BFx3jngpGJUFJTlS9+l3tRPxtrraDuw6Ad+ofddrA2vayw3Ooa27C6UyS7t1jHNwCL9CbydB669hsGqDdm9Vm5VEBnVWBw3MxN60x0MJtn4hse359b+Igz2FbFCDx4vtjsSeocRY0dkfpcdjpJ8bTq84eEdzhWRCdkTkW5ovjfCLCj2pF5JlOnvJLxKkjPUds9m/v3m9hBoZ0cNMX7ytZkwXeunRBIMr8V5zkEQJEVMdGXnxTf9U2M2iAjz4yge4WqpK6IB4x/Twltiy8t4tHfL8+GyVJNaGJrZtD4US8fjDJEjDP/5E5kI/MoMf4Lq96LgkpnWQaa+Vr4fkdOpHmLi59NBizqrMbLzYAaYn2mkhWaJ6amcUf5CXhei8biFiDflgwzIOYwxVQk0UeDRmDbt0fOTAnHHy3AbeAz7GEi8QkL1c3sjJfMZ62AaBlB+TFvKKd57kiA+KD17WWM5msLyFZp+c9LFxr9xStImX7RUCRiNN+JED33gPD8viAph++dwuhetWuB1vLu7b8cLkIOFpFEoNMhnd+DX277NQQFZKg8GOKpRSu1PIQvmp0BEg9D6wdri5YxE4MaeRNA+NqUhz/r1MUO2CqXGweILdkaFxbaXk9kdebT9ZmKstawWA+gEoGCjKzbsx1RWwET63FEKTWjjLS3kR8vJLLC/0gG6+QYWjK4awzdyRZhpS2fiOxUxbc8Y+kJxcURPy4wzwt8QMqpCvYgamvWMHBhzB+wt9dtzSqlnDiF4/V9KAoZfDIiMZ1mGB+zMIXe230KwXooMIMvNBfDaMVATqb/ERky2Eh3e7PI5fLVEn0AvzWqpeWX8I6GPqjwI0rJ6OWjMRWo1vFD12LHaOrx60LljlkRdy0zIRptUayVpJ3Yr2C2PMszjpHWbMmWFUCoTMkf8Scm+TJjlwJhlPrRC9IWzI7fHqXCKiU9glbJMdJhZBJ+e1pGSSvAuPcEwkxnZyAsu3hLDRtbKsRKRbKLNLVqa5Nj0yH1kVj5cAne7wDM/+8nNk5xqTnxbiRIGR/sJV+eDMwXv8slgAXaaTr1DMDZqtdfi58fp9XnhaVP4qwvsQAVIjiCTKSLJMBvyqBvygbhUUvesAwQvKnPL6AICJWsGYd1a/0gho6Ay2JZ3AEikSkO4ww/vcRH9K1tZbs8jQTSC5xblEfvBHk1G6dwCgxcPbRhAxEe8+r8Ce9a0rJBxwSZE77Vk7TzJxEwE9aaB/ydAjWPIa6+ZqIgcU7zWgMGqsd619E7vmiLTi3twBzORlB0oAOIrM2f3y82GJWFyLe1WG4xI13LP2PxmLg7MJBC4wjRwK62fXQ+20az02kLgfumdRy8a42n3vPbj4lmDe+r7lKBh1f++nm0zLwHAMN9IkefKbtzMkaxA8ZpB44eW8c7fcE1P1LBoq4HXu6OWf9eLndyaXm3BJr/ZSkXqEc5E8FNiN4rE8XGiMYLmxFBCEE8UJ3HXGkPvHnV6uH2QQdWbkD8Wg67pz3mKkX/RzFt7xNRd+Mgn/noIsw8+Rdlfpu9LWqzsif+c7B5pcO6/VD19Hfo/1a" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=h6JGmI6BQZ1O6dIyg8tR4IHvRle_W93uf4lq1t4EqaDE50xn2BLl08HF7RaibNd42F35_b4LDdnfmA2j9Hxw5dSCfJ81&amp;t=634210184576316535" type="text/javascript"></script>


<script type="text/javascript">
//<![CDATA[
function checkRobloxInstall(){return RobloxLaunch.CheckRobloxInstall("/Install/Download.aspx");}function initClientProps() { Roblox.Client._CLSID = "76D50904-6780-4c8b-8986-1A7EE0B1716D";Roblox.Client._installHost = "setup.roblox.com";Roblox.Client.ImplementsProxy = true;}//]]>
</script>

<script src="/ScriptResource.axd?d=Dx2e_7bZuGozblmjMqic2C1FfiQgeXj1RUxPYJo9k_VBYtAabSVPG01gS_boram5kQv_1cB_yk0QZwWbDMNvS6k2RIJ9ZItxsZcJ2eZjm0t4W3WnbKvbGgQgE2TDWW0_5UskheckqaoTTS6atM0CVXvEKug1&amp;t=7454ab1f" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=7CDLXVgstubV8DfZoMBt9JmfYm3rFjReTNd1cwRtZ5L4ZV_meI0pqVXIewgl0sK3zMeBsS-lx4r-cLNzIhbFpxQ6fJ-gh7xGHLzb21Yo4ZqUlerguEnimJcEe7_pwJNx2p13YIEIQp_q4nwVe8urfHYCU30auekzH4IVIE1s1UPYD41NM7uhTOHx6C_Fg8mKmwVwfGYXwQ1Ht765-QngJ0DZIe7uBL9fiIZFHRqOiOvF0ioYlw3UmbSLvorKJB8ysDPCGdYAKfKAAB1ckGk_w0n4-VyltZUUFE9j6b4jfYztC7v0jG4khGkaVwMNlAB2uYEbNMS5E1VHrSR74QqctOyjlmN-7EVVx-QjOo2b8IhW9-3x_ZZPy9UkqJvtzY1FTA9TJAjal_RmsTrRy7370Oc_8XCyUh9EDG9D3n8OGCIyRqJyISPvv8jPVU-wCfxQqunYehiVt7c1fKrTGl45oclP50XZON8qfpdI3zmcW4wGXAqfM0Chuy0Y_bYHId-Ozu-EtLgku4L8oq7oRzw2Ip__YEtOemkZ9ngrxzvUM8Lbm1wVMWuMiJItX004h1elHH3__u2qzQSL0dwlgwz2Q8LkdX92FfdWLGqNzd0YNEg3uuKhov6FrLtD-cRtkD2tL5wlmUA9515u2lPTzUI9Z36PbDo1" type="text/javascript"></script>
<script src="../js/jquery.jsoncookie.js" type="text/javascript"></script>
<script src="../js/jquery-extensions.js" type="text/javascript"></script>
<script src="../Game/PlaceLauncher.js" type="text/javascript"></script>
<script src="../Install/ClientInstaller.js" type="text/javascript"></script>
<script src="../js/jquery.cookie.js" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=aMgZ28f95_vOACfWzFjQ3JE6G3E95PknmBsP9F9tfJEJ05IPdBADMRmQ7wnNGdJYKSLrMKHoCK5AhmvKywxAk5jXv-qDI6R5Zd-f2EmhJuEneuHsuIqrQbPGq04S_tVO1jETYBrupu_P-W_9fQcJpkY-GL-yPO1MPdHFUGxiqEaKR2aR0" type="text/javascript"></script>
<script src="../Thumbs/Asset.asmx/js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="" />
	<input type="hidden" name="__PREVIOUSPAGE" id="__PREVIOUSPAGE" value="PLKFTKaOnmMOE-PUwIfjlTjjSb5m8eafgGd1CiZcqJvgpBHSW_S3-SQ9LA7QEqIpoQfl0SRp3paRngMz3Zi865B9fd81" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="se5HnGPTi6kSrsgebF/nCN5ybWTm6ilFpaZMzDYfuzHxasRLMfXAd4V6iHywnw7SIWr0G24Yl87uaPhKt7H7tySY9qboK3TVNvtnYc5ovWk6hZ8HjSDHihBa6dNPf6EsEajoSD0EoBRG8ivqbVqATZ7QWCwsfR3FWK2wznK/fNhcan+QMHrnfajtSeNueeixMMqNWVwGwWlzoQuPh4Mp7s0X+Pk=" />
</div>
<script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager', document.getElementById('aspnetForm'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls(['tctl00$cphRoblox$VersionHistoryPanel'], [], [], 90);
//]]>
</script>
            </div>
            </div>

           
            <div id="Body">

    <div id="EditItemContainer">
        <div class="StandardBoxHeader" style="margin: 10px auto 0; width: 780px; position: relative; right: 20px;">
            <span>Configure
            T-Shirt</span></div>
        <div class="StandardBox" style="width: 805px; margin: 0 auto; float: none; position: relative; right: 20px;">
            <div id="EditItem">
                
                <a id="ctl00_cphRoblox_TopBackButton" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphRoblox$TopBackButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;/SpasAttackM13-s-shirt-off-selling-item?id=47543155&quot;, false, true))">Back</a>
                <div id="ctl00_cphRoblox_ConfirmationPanel">
	
                
</div>
                <div id="ItemName">
                    <span id="ctl00_cphRoblox_NameLabel" class="Label">Name:</span><br />
                    
                    <input name="ctl00$cphRoblox$NameTextBox" type="text" value="SpasAttackM13`s shirt(off selling)(2011.Mar/8)" maxlength="50" id="ctl00_cphRoblox_NameTextBox" class="TextBox" />
                    <span id="ctl00_cphRoblox_NTBRFV" style="color:Red;visibility:hidden;">A Name is Required</span>
                </div>
                
                <div id="ItemDescription">
                    <span id="ctl00_cphRoblox_DescriptionLabel" class="Label">Description:</span><br />
                    
                    <textarea name="ctl00$cphRoblox$DescriptionTextBox" rows="2" cols="20" id="ctl00_cphRoblox_DescriptionTextBox" class="MultilineTextBox" style="height:150px;color: Black">This is SpasAttackM13`s shirt that he was wearing in Mar.8/2011
or in germen:Maz.8/2011.</textarea>
                </div>
                <div class="Buttons ConfigureItemButtons">
                    <a id="ctl00_cphRoblox_LinkButton1" tabindex="4" class="btn-medium btn-neutral" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphRoblox$LinkButton1&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Save</a>&nbsp;<a id="ctl00_cphRoblox_LinkButton2" tabindex="5" class="btn-medium btn-negative" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphRoblox$LinkButton2&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Cancel</a>
                </div>
                <div id="SellItem">
                    <fieldset title="Sell this item">
                        <legend>Sell this item</legend>
                        <div class="Suggestion">
                            Check the box below and enter a price if you want to sell this item in the Roblox catalog.
                            Uncheck the box to remove the item from the catalog.
                        </div>
                        <div class="EnableCommentsRow" style="margin-left:20px; margin-top:10px;">
                            <input id="ctl00_cphRoblox_SellThisItemCheckBox" type="checkbox" name="ctl00$cphRoblox$SellThisItemCheckBox" />&nbsp;&nbsp;&nbsp;
                            <label for="ctl00_cphRoblox_SellThisItemCheckBox">Sell this Item</label>
                        </div>
                        <div id="SellItemPricing" style="display:none;">
                            <table cellspacing="5" cellpadding="0">
                                <tr>
                                    <td>Price:</td>
                                    <td colspan="3">
                                        <span class="CurrencyColor1">&nbsp;</span>
                                        <input id="ctl00_cphRoblox_PriceTextBox" name="ctl00$cphRoblox$PriceTextBox" type="text" style="width:50px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Marketplace Fee:</td>
                                    <td colspan="3">
                                        <span class="CurrencyColor1">&nbsp;</span><span class="text-robux sell-robux-amount">0</span>
                                        <span class="MarketplaceFeeNote">(30% - minimum 1)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>You Earn:</td>
                                    <td colspan="3">
                                        <span class="CurrencyColor1">&nbsp;</span><span class="text-robux sell-robux-amount">0</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <script type="text/javascript">
                    (function () {
                        function updateSellMath() {
                            var priceInput = document.getElementById('ctl00_cphRoblox_PriceTextBox');
                            if (!priceInput) {
                                return;
                            }
                            var raw = priceInput.value || '';
                            var numeric = raw.replace(/[^0-9]/g, '');
                            var price = parseInt(numeric, 10);
                            if (isNaN(price) || price < 0) {
                                price = 0;
                            }
                            var amountSpans = document.querySelectorAll('#SellItem .sell-robux-amount');
                            if (!amountSpans || amountSpans.length < 2) {
                                return;
                            }
                            var fee = 0;
                            var earn = 0;
                            if (price > 0) {
                                fee = Math.floor(price * 0.3);
                                if (fee < 1) {
                                    fee = 1;
                                }
                                earn = price - fee;
                                if (earn < 0) {
                                    earn = 0;
                                }
                            }
                            amountSpans[0].innerHTML = fee;
                            amountSpans[1].innerHTML = earn;
                        }
                        function updateSellPricingVisibility() {
                            var cb = document.getElementById('ctl00_cphRoblox_SellThisItemCheckBox');
                            var panel = document.getElementById('SellItemPricing');
                            if (!cb || !panel) {
                                return;
                            }
                            if (cb.checked) {
                                panel.style.display = '';
                                updateSellMath();
                            } else {
                                panel.style.display = 'none';
                            }
                        }
                        window.updateSellMath = updateSellMath;
                        var priceInput = document.getElementById('ctl00_cphRoblox_PriceTextBox');
                        if (priceInput) {
                            priceInput.onkeyup = updateSellMath;
                            priceInput.onchange = updateSellMath;
                        }
                        var sellCb = document.getElementById('ctl00_cphRoblox_SellThisItemCheckBox');
                        if (sellCb) {
                            sellCb.onclick = updateSellPricingVisibility;
                        }
                        updateSellPricingVisibility();
                    })();
                </script>
                <div id="Comments" style="margin-bottom:30px;">
                    <fieldset title="Turn comments on/off">
                        <legend>Turn comments on/off</legend>
                        <div class="Suggestion">
                            Choose whether or not this item is open for comments.
                        </div>
                        <div class="EnableCommentsRow" style="margin-left:20px; margin-top:20px;">
                            <input id="ctl00_cphRoblox_EnableCommentsCheckBox" type="checkbox" name="ctl00$cphRoblox$EnableCommentsCheckBox" checked="checked" />&nbsp;&nbsp;&nbsp;
                            <label for="ctl00_cphRoblox_EnableCommentsCheckBox">Allow Comments</label>
                        </div>
                    </fieldset>
                </div>
                
                
                <div id="ctl00_cphRoblox_GenreOptionsPanel">
	
                    <div id="SetGenres">
                        <fieldset>
                            <legend>Genre</legend>
                            <div class="Suggestion">
                                Classify your
                                T-Shirt
                                to help people find it.
                            </div>
                            <script type="text/javascript">
                                var genreID = 'ctl00_cphRoblox_actualGenreSelection';
                                var multigenreID = 'ctl00_cphRoblox_actualGenreSelectionMulti';
                                function addGenre($this, multi) {
                                    var a = $this.val();
                                    if (!multi) {
                                        $('#' + genreID).val(a);
                                    }
                                    else {
                                        var b = parseInt($('#' + multigenreID).val(), 10);
                                        if ($this.is(":checked")) {
                                            $('#' + multigenreID).val(b + parseInt(a, 10));
                                        }
                                        else {
                                            $('#' + multigenreID).val(b - parseInt(a, 10));
                                        }
                                    }
                                }
                            </script>

                            <div id="ctl00_cphRoblox_AllowOneGenre">
		
		                        <div class="MyItemIndentedOption">
		                            <table cellspacing="15" cellpadding="0">
		                                <tr>
		                                    <td valign="top">
		                                        <table cellspacing="3" cellpadding="0">
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Classic.png" alt="All" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="1" checked='checked' />
		                                                        All
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/City.png" alt="Town and City" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="7" />
		                                                        Town and City
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Castle.png" alt="Medieval" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="8" />
		                                                        Medieval
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Pirate.png" alt="Naval" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="12" />
		                                                        Naval
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Sports.png" alt="Sports" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="14" />
		                                                        Sports
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                        </table>
		                                    </td>
		                                    <td valign="top">
		                                        <table cellspacing="3" cellpadding="0">
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Tutorial.gif" alt="Building" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="19" />
		                                                        Building
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/ModernMilitary.png" alt="Military" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="17" />
		                                                        Military
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Adventure.png" alt="Adventure" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="13" />
		                                                        Adventure
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/FPS.png" alt="FPS" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="13" />
		                                                        FPS
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Ninja.png" alt="Fighting" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="10" />
		                                                        Fighting
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                        </table>
		                                    </td>
		                                    <td valign="top">
		                                        <table cellspacing="3" cellpadding="0">
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/Cthulu.png" alt="Horror" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="11" />
		                                                        Horror
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/LOL.png" alt="Comedy" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="15" />
		                                                        Comedy
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/SciFi.png" alt="Sci-Fi" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="9" />
		                                                        Sci-Fi
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/RPG.png" alt="RPG" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="18" />
		                                                        RPG
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                            <tr>
		                                                <td>
		                                                    <img src="/images/GenreIcons/WildWest.png" alt="Western" />
		                                                    <label>
		                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="16" />
		                                                        Western
		                                                    </label>
		                                                </td>
		                                            </tr>
		                                        </table>
		                                    </td>
		                                </tr>
		                            </table>
		                            <input type="hidden" name="ctl00$cphRoblox$actualGenreSelection" id="ctl00_cphRoblox_actualGenreSelection" value="1" />
		                        </div>
		                    
		</div>
                            
                        </fieldset>
                    </div>
                
</div>

</div>
                <div class="Buttons ConfigureItemButtons">
                    <a id="ctl00_cphRoblox_SubmitButton" tabindex="4" class="btn-medium btn-neutral" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphRoblox$SubmitButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Save</a>&nbsp;<a id="ctl00_cphRoblox_CancelButton" tabindex="5" class="btn-medium btn-negative" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphRoblox$CancelButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Cancel</a>
                </div>
                   <a id="ctl00_cphRoblox_BottomBackButton" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphRoblox$BottomBackButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;/SpasAttackM13-s-shirt-off-selling-item?id=47543155&quot;, false, true))">Back</a>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>

            </div>
        
   
        </div>
    </div>
    
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("ctl00_cphRoblox_NTBRFV"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var ctl00_cphRoblox_NTBRFV = document.all ? document.all["ctl00_cphRoblox_NTBRFV"] : document.getElementById("ctl00_cphRoblox_NTBRFV");
ctl00_cphRoblox_NTBRFV.controltovalidate = "ctl00_cphRoblox_NameTextBox";
ctl00_cphRoblox_NTBRFV.focusOnError = "t";
ctl00_cphRoblox_NTBRFV.errormessage = "A Name is Required";
ctl00_cphRoblox_NTBRFV.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_cphRoblox_NTBRFV.initialvalue = "";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[
(function() {var fn = function() {RobloxLaunch._LaunchGamePage = "/Install/Download.aspx";Sys.Application.remove_load(fn);};Sys.Application.add_load(fn);})();(function() {var fn = function() {Roblox.Client._installSuccess = function() { urchinTracker('InstallSuccess'); };Sys.Application.remove_load(fn);};Sys.Application.add_load(fn);})();__utmSetVar('ROBLOX_Home_Skin_Left_400x1180');__utmSetVar('ROBLOX_Home_Skin_Right_400x1180');__utmSetVar('Roblox_Default_Top_728x90');
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        __utmSetVar('Roblox_Item_Right_160x600');Sys.Application.initialize();

document.getElementById('ctl00_cphRoblox_NTBRFV').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_cphRoblox_NTBRFV'));
}
//]]>
</script>
</form>
    
    
</body>
</html>
