# OS
Thumbs.db
*.DS_Store

# Visual Studio / .NET
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Ll]og/
[Ll]ogs/
TestResults/

# Rider / JetBrains
.idea/
*.iml

# NuGet
packages/
*.nupkg
.nuget/
.nuget/packages/*

# Misc
*.cache
*.log
*.svclog
*.pidb
*.userprefs

# Temporary
*.tmp
~$*
