

# ========================
# Editor / IDE
# ========================
# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
.vs/


# ========================
# Build directories
# ========================
# Out-of-source CMake build
bin/
Debug/
Release/

# ========================
# Generated / temporary
# ========================

# ========================
# Binary artifacts
# ========================
# Libraries
*.lib
*.a
*.so
*.dylib
# Executables
*.app
# Packages

# ========================
# User-specific config
# ========================
# Environment variables, local overrides, secrets
.env
.env.*


# whitelist fmod
!fmod/**


## Webserver Related Stuff
!Properties/*.json
appsettings.json
appsettings.Development.json
CDN/Assets/thumbnails/
3DAvatar/
RCC/
CDN/Assets/
packages/
obj/
bin/
*.pfx
Setup/wwwroot