<?xml version="1.0" encoding="utf-8"?>
<robloxConfigurationProvider isDatabaseWritable="false">
  <groups>
    <group serviceEndpoint="https://configuration.api.roblox.local" useService="true" groupName="Roblox.Games.Relay.Properties.Settings" updateInterval="00:20:00" />
  </groups>
</robloxConfigurationProvider>