@{ Layout = "_Layout"; }
<!DOCTYPE html>
<html xml:lang=en xmlns:fb=http://www.facebook.com/2008/fbml>

<head data-machine-id=WEB972>
    <title>Develop - Roblox</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge,requiresActiveX=true">
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=author content="Roblox Corporation">
    <meta name=description content="Roblox is a global platform that brings people together through play.">
    <meta name=keywords content="free games,online games,building games,virtual worlds,free mmo,gaming cloud,physics engine">
    <meta name=apple-itunes-app content="app-id=431946152">
    <meta name=google-site-verification content=KjufnQUaDv5nXJogvDMey4G-Kb7ceUVxTdzcMaP9pCY>
    <script type=application/ld+json>
        {
            "@@context": "http://schema.org",
            "@@type": "Organization",
            "name": "Roblox",
            "url": "https://www.roblox.com/",
            "logo": "https://images.rbxcdn.com/c69b74f49e785df33b732273fad9dbe0.png",
            "sameAs": ["https://www.facebook.com/ROBLOX/", "https://twitter.com/roblox", "https://www.linkedin.com/company/147977", "https://www.instagram.com/roblox/", "https://www.youtube.com/user/roblox", "https://plus.google.com/+roblox", "https://www.twitch.tv/roblox"]
        }
    </script>
    <meta name=user-data data-userid=296890863 data-name=Loganh4005 data-isunder13=true>
    <meta name=locale-data data-language-code=en_us data-language-name=English data-locale-api-url=https://locale.roblox.com>
    <meta name=device-meta data-device-type=computer data-is-in-app=false data-is-desktop=true data-is-phone=false data-is-tablet=false data-is-console=false data-is-android-app=false data-is-ios-app=false data-is-uwp-app=false data-is-xbox-app=false data-is-amazon-app=false data-is-studio=false data-app-type=unknown>
    <meta name=page-meta data-internal-page-name=Create>
   

<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="~/JS/Microsoft/MicrosoftAjax.js"></script>
<script type="text/javascript" src="~/JS/roblox.js"></script>
<script type="text/javascript" src="~/JS/common/constants.js"></script>
<script type="text/javascript" src="~/JS/jquery.cookie.js"></script>
<script type="text/javascript" src="~/JS/utilities/performance.js"></script>
<script type="text/javascript" src="~/JS/RobloxCookies.js"></script>
<script type="text/javascript" src="~/JS/utilities/minifyTestFile.js"></script>
<script type="text/javascript" src="~/JS/RobloxEventStream.js"></script>
<script type="text/javascript" src="~/JS/Events/UserInteractionsEvent.js"></script>
<script type="text/javascript" src="~/JS/Events/PageHeartbeatEvent.js"></script>
<script type="text/javascript" src="~/JS/services/userService.js"></script>
<script type="text/javascript" src="~/JS/services/metaDataValues.js"></script>
<script type="text/javascript" src="~/JS/utilities/localStorage.js"></script>
<script type="text/javascript" src="~/JS/utilities/ExponentialBackoff.js"></script>
<script type="text/javascript" src="~/JS/utilities/ExponentialBackoffSpecification.js"></script>
<script type="text/javascript" src="~/JS/Reference/themeUpdate.js"></script>

<script type="text/javascript" src="~/JS/dist/js/realTime.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/dist/js/crossTabCommunication.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/intl/intl-polyfill.min.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/en-US.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/es-ES.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/fr-FR.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/de-DE.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/pt-BR.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/ko-KR.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/zh-Hans-CN.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/zh-Hant-TW.js"></script>

<script type="text/javascript" src="~/JS/dist/js/internationalCore.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/dist/js/translationResourceProvider.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/leancore/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="~/JS/leancore/BootstrapNamespacing.js"></script>
<script type="text/javascript" src="~/JS/leancore/libs/underscore-min.js"></script>
<script type="text/javascript" src="~/JS/GoogleAnalytics/GoogleAnalyticsEvents.js"></script>
<script type="text/javascript" src="~/JS/JSErrorTracker.js"></script>
<script type="text/javascript" src="~/JS/RobloxEventManager.js"></script>
<script type="text/javascript" src="~/JS/GoogleEventListener.js"></script>
<script type="text/javascript" src="~/JS/UpsellAdModal.js"></script>
<script type="text/javascript" src="~/JS/JavaScriptEndpoints.js"></script>
<script type="text/javascript" src="~/JS/utilities/deviceFeatureDetection.js"></script>
<script type="text/javascript" src="~/JS/utilities/lazyLoad.js"></script>
<script type="text/javascript" src="~/JS/utilities/urlParser.js"></script>
<script type="text/javascript" src="~/JS/utilities/touchMovementSensitivity.js"></script>
<script type="text/javascript" src="~/JS/utilities/generalSubmitButton.js"></script>
<script type="text/javascript" src="~/JS/XsrfToken.js"></script>
<script type="text/javascript" src="~/JS/DeveloperConsoleWarning.js"></script>
<script type="text/javascript" src="~/JS/widgets/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="~/JS/leancore/Navigation.js"></script>
<script type="text/javascript" src="~/JS/Reference/widget.js"></script>
<script type="text/javascript" src="~/JS/CookieUpgrader.js"></script>
<script type="text/javascript" src="~/JS/Game/GamePlayEvents.js"></script>
<script type="text/javascript" src="~/JS/leancore/RobloxBaseInit.js"></script>
<script type="text/javascript" src="~/JS/common/robloxError.js"></script>
<script type="text/javascript" src="~/JS/common/localeSwitcher.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_CommonUI_ControlsResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/vendors/babel/polyfill.min.js"></script>
<script type="text/javascript" src="~/JS/services/presenceService.js"></script>
<script type="text/javascript" src="~/JS/Thumbnails/thumbnailMetrics.js"></script>
<script type="text/javascript" src="~/JS/jquery.tipsy.js"></script>
<script type="text/javascript" src="~/JS/extensions/string.js"></script>
<script type="text/javascript" src="~/JS/StringTruncator.js"></script>
<script type="text/javascript" src="~/JS/MasterPageUI.js"></script>
<script type="text/javascript" src="~/JS/jPlayer/2.9.2/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="~/JS/jquery.simplemodal-1.3.5.js"></script>
<script type="text/javascript" src="~/JS/extensions/Thumbnails.js"></script>
<script type="text/javascript" src="~/JS/Linkify.js"></script>
<script type="text/javascript" src="~/JS/CookieUpgrader.js"></script>
<script type="text/javascript" src="~/JS/utilities/stringFormat.js"></script>
<script type="text/javascript" src="~/JS/Tracking/SignupTrackingScript.js"></script>
<script type="text/javascript" src="~/JS/Tracking/AsyncGoogleOnScript.js"></script>
<script type="text/javascript" src="~/JS/VideoPreRollDFP.js"></script>
<script type="text/javascript" src="~/JS/MadStatus.js"></script>
<script type="text/javascript" src="~/JS/PlaceLauncher.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_Feature_GameLaunchGuestModeResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/GameLauncher.js"></script>
<script type="text/javascript" src="~/JS/GameLaunchLogger.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_Common_VisitGameResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/ProtocolHandlerClientInterface.js"></script>
<script type="text/javascript" src="~/JS/GameLaunchAdRefresher.js"></script>
<script type="text/javascript" src="~/JS/Interstitial.js"></script>
<script type="text/javascript" src="~/JS/webkit.js"></script>
<script type="text/javascript" src="~/JS/DropDownNav.js"></script>
<script type="text/javascript" src="~/JS/common/forms.js"></script>
<script type="text/javascript" src="~/JS/UpsellAdModal.js"></script>
<script type="text/javascript" src="~/JS/DeveloperConsoleWarning.js"></script>

<script type="text/javascript" src="~/JS/modules/Pages/Catalog.js"></script>

<script type="text/javascript" src="~/JS/modules/Pages/CatalogShared.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/AvatarImage.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/DropdownMenu.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/GroupImage.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/HierarchicalDropdown.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/HierarchicalDropdown.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/ItemImage.js"></script>

<script type="text/javascript" src="~/JS/modules/Widgets/PlaceImage.js"></script>

<script type="text/javascript" src="~/JS/dist/js/coreUtilities.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/angular/angular.min.js"></script>
<script type="text/javascript" src="~/JS/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="~/JS/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="~/JS/angular/ui-bootstrap-custom-tpls-2.5.0.js"></script>
<script type="text/javascript" src="~/JS/angular/angular.ng-modules.js"></script>
<script type="text/javascript" src="~/JS/angular/angular-elastic.js"></script>
<script type="text/javascript" src="~/JS/viewapp/app.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/robloxService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/cacheService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/chatDispatchService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/errorMessageService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/eventStreamService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/friendsInfoService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/googleAnalyticsEventsService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/httpService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/hybridService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/imagesService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/localStorageService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/numericCodeService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/realtimeService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/playGameService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/retryService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/urlService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/userService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/performanceService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/regexService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/urlConstants.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/deviceTypes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/performanceMarkLabels.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/presenceTypes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/thumbnailResponseStatuses.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/thumbnailStatusStyleMap.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/thumbnailStyleConstants.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/httpStatusCodes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/keyCode.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/callBackTypes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/localStorageNames.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/helpers.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/abbreviate.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/capitalize.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/camelCase.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/firstLetter.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/formatString.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/getPercentage.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/htmlToPlainText.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/isEmpty.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/orderList.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/parseTimeStamp.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/positive.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/reverse.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/startsWith.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/seoUrl.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/autoResizeDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/blurDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/clickOutsideDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/enterEscapeShiftDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/focusDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/focusMeDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/formValidationDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/hoverPopoverDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/imageRetryDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/inputMaxLength.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/keyPressEnterDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/keyPressEscapeDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/numbersOnlyDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/alphanumericInputDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/onFinishRenderDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/phoneDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/switcherDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/modal.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/services/modalStringService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/constants/modalOptions.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/services/modalService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/controllers/modalController.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/providers/languageResourceProvider.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/translate.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/translateParams.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/localNumberFormat.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/datetime.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/JS/jquery/jquery-1.11.1.min.js"></script>




    <link rel=canonical href=https://www.roblox.com/develop>
    <link href=https://images.rbxcdn.com/23421382939a9f4ae8bbe60dbe2a3e7e.ico.gzip rel=icon>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet href=https://static.rbxcdn.com/css/MainCSS___f4948a5439ec56700ef5e24d93b9c249_m.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet data-bundlename=LegacyStyleGuide href=https://static.rbxcdn.com/css/afdcab9fa313ccc1130b005a312d6a8c5134347b53d085fa88215fe5bc71a067.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet data-bundlename=NotificationStream href=https://static.rbxcdn.com/css/8e03cf8e84202810e737631ed5ee4dae790b444bf7607217cccc44be5c36133a.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet href=https://static.rbxcdn.com/css/page___0e68b651b048542ab589918dbfb33de1_m.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet data-bundlename=Chat href=https://static.rbxcdn.com/css/9d46ec11b9b7390ccf413684c834e0611c399e4cc18ba0d5f9368e4f01cb0ca9.css/fetch>
    <script>
        if (Roblox && Roblox.EventStream) {
            Roblox.EventStream.Init("//ecsv2.roblox.com/www/e.png", "//ecsv2.roblox.com/www/e.png", "//ecsv2.roblox.com/pe?t=studio", "//ecsv2.roblox.com/pe?t=diagnostic");
        }
    </script>
    <script>
        if (Roblox && Roblox.PageHeartbeatEvent) {
            Roblox.PageHeartbeatEvent.Init([2, 8, 20, 60]);
        }
    </script>
    <script>
        Roblox.config.externalResources = [];
        Roblox.config.paths['Pages.Catalog'] = '/JS/modules/Pages/Catalog.js';
        Roblox.config.paths['Pages.CatalogShared'] = '/JS/modules/Pages/CatalogShared.js';
        Roblox.config.paths['Widgets.AvatarImage'] = '/JS/modules/Widgets/AvatarImage.js';
        Roblox.config.paths['Widgets.DropdownMenu'] = '/JS/modules/Widgets/DropdownMenu.js';
        Roblox.config.paths['Widgets.GroupImage'] = '/JS/modules/Widgets/GroupImage.js';
        Roblox.config.paths['Widgets.HierarchicalDropdown'] = '/JS/modules/Widgets/HierarchicalDropdown.js';
        Roblox.config.paths['Widgets.ItemImage'] = '/JS/modules/Widgets/ItemImage.js';
        Roblox.config.paths['Widgets.PlaceImage'] = '/JS/modules/Widgets/PlaceImage.js';
    </script>
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=angular src=https://js.rbxcdn.com/4b547f435344ed539d69e9cdec6ef1bc.js.gzip></script>
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=page src=https://js.rbxcdn.com/c5827143734572fa7bd8fcc79c3c126b.js.gzip></script>
    <script>
        $(function() {
            Roblox.JSErrorTracker.initialize({
                'suppressConsoleError': true
            });
        });
    </script>
    <script>
        var Roblox = Roblox || {};
        Roblox.UpsellAdModal = Roblox.UpsellAdModal || {};
        Roblox.UpsellAdModal.Resources = {
            title: "Remove Ads Like This",
            body: "Builders Club members do not see external ads like these.",
            accept: "Upgrade Now",
            decline: "No, thanks"
        };
    </script>
    <script>
        Roblox.XsrfToken.setToken('YWAAzch9I3Qm');
    </script>
    <script>
        Roblox.FixedUI.gutterAdsEnabled = false;
    </script>
    <script>
        var Roblox = Roblox || {};
        Roblox.jsConsoleEnabled = false;
    </script>
    <script>
        $(function() {
            Roblox.DeveloperConsoleWarning.showWarning();
        });
    </script>
    <script>
        if (typeof(Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
    </script>
    <script>
        Roblox = Roblox || {};
        Roblox.AbuseReportPVMeta = {
            desktopEnabled: true,
            phoneEnabled: false,
            inAppEnabled: false
        };
    </script>

</head>
<body id=rbx-body data-performance-relative-value=0.005 data-internal-page-name=Create data-send-event-percentage=0>
    <div id=roblox-linkify data-enabled=true data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9-]{2,}\.)*(((m|de|www|web|api|blog|wiki|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com)|help\.roblox\.com(?![A-Za-z0-9\/.]*\/attachments\/))(?!\/[A-Za-z0-9-+&amp;@@#\/=~_|!:,.;]*%)((\/[A-Za-z0-9-+&amp;@@#\/%?=~_|!:,.;]*)|(?=\s|\b))" data-regex-flags=gm data-as-http-regex=(([^.]help|polls)\.roblox\.com)></div>
    <div id=image-retry-data data-image-retry-max-times=10 data-image-retry-timer=1500 data-ga-logging-percent=10></div>
    <div id=http-retry-data data-http-retry-max-timeout=0 data-http-retry-base-timeout=0 data-http-retry-max-times=1></div>
    <div ng-modules=baseTemplateApp>
        <script src=https://js.rbxcdn.com/cbd9a121217c4887264ffe32686ecd52.js.gzip></script>
    </div>
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=LegacyStyleGuide src=https://js.rbxcdn.com/a13fafcb53acc57d58ac84c11b54225bf2c0112a336bca9609549f911880e4ca.js></script>
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=NotificationStream src=https://js.rbxcdn.com/8247b4782d09fc937d74cfd74b7e524b8ca057239d691ce1af2a488392df0499.js></script>
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=Chat src=https://js.rbxcdn.com/b370565804766f8983e68af55f79eea838e96f54c1b96af766ae87c9ea7266e3.js></script>
    <div ng-modules=pageTemplateApp>
        <script>
            "use strict";
            angular.module("pageTemplateApp", []).run(['$templateCache', function($templateCache) {}]);
        </script>
    </div>
   
        <div id=i18nForAmazonShopSwitch data-is-i18n-enabled-for-shop-amazon-dialog=true data-amazon-store-url="https://www.amazon.com/roblox?&amp;_encoding=UTF8&amp;tag=r05d13-20&amp;linkCode=ur2&amp;linkId=4ba2e1ad82f781c8e8cc98329b1066d0&amp;camp=1789&amp;creative=9325" style=display:none></div>
        <script>
            var Roblox = Roblox || {};
            (function() {
                if (Roblox && Roblox.Performance) {
                    Roblox.Performance.setPerformanceMark("navigation_end");
                }
            })();
        </script>
       
                        <div class=alert-container>
                            <noscript>
                                <div class=alert-info>Please enable Javascript to use all the features on this site.</div>
                            </noscript>
                        </div>
                        <div id=BodyWrapper>
                            <div id=RepositionBody>
                                <div id=Body class=body-width>
                                    <div id=TosAgreementInfo data-terms-check-needed=True></div>
                                    <input name=__RequestVerificationToken type=hidden value=O8SGGOTLBYZCL_ciYdANjJnIdSdNvnt6V2YWPXDJaTf7qTS1w7BiNy2X7bhlyr3ZZ46zcYek1cOne2ZM48Wz7sExeI81>
                                    <div id=DevelopTabs class=tab-container>
                                        <div id=MyCreationsTabLink class=tab-active data-url=/develop>My Creations</div>
                                        <div id=GroupCreationsTabLink data-url=/develop/groups data-default-get-url=/build/buildview>Group Creations</div>
                                        <div id=LibraryTabLink data-url=/develop/library data-library-get-url="/catalog/contents?CatalogContext=DevelopOnly&amp;Category=Models">Library</div>
                                    </div>
                                    <div>
                                        <div id=MyCreationsTab class=tab-active>
                                            <div class=BuildPageContent data-groupid="">
                                                <div class="creation-context-filters-and-sorts" data-fetchplaceurl="/develop/games-list" data-universeid="0" data-fetchuniverseplaces="false"></div>
                                                <input id=assetTypeId name=assetTypeId type=hidden value=0>
                                                <input data-val=true data-val-required="The IsTgaUploadEnabled field is required." id=isTgaUploadEnabled name=isTgaUploadEnabled type=hidden value=True>
                                                <table id=build-page data-asset-type-id=0 data-showcases-enabled=true data-edit-opens-studio=True>
                                                    <tr>
                                                        <td class="menu-area divider-right"><a href="https://web.roblox.com/develop?Page=universes" class="tab-item tab-item-selected">Games</a> <a href="https://web.roblox.com/develop?View=9" class=tab-item>Places</a> <a href="https://web.roblox.com/develop?View=10" class=tab-item>Models</a> <a href="https://web.roblox.com/develop?View=13" class=tab-item>Decals</a> <a href="https://web.roblox.com/develop?View=21" class=tab-item>Badges</a> <a href="https://web.roblox.com/develop?Page=game-passes" class=tab-item>Game Passes</a> <a href="https://web.roblox.com/develop?View=3" class=tab-item>Audio</a> <a href="https://web.roblox.com/develop?View=24" class=tab-item>Animations</a> <a href="https://web.roblox.com/develop?View=40" class=tab-item>Meshes</a> <a href="https://web.roblox.com/develop?Page=ads" class=tab-item>User Ads</a> <a href="https://web.roblox.com/develop?Page=sponsored-games" class=tab-item>Sponsored Games</a> <a href="https://web.roblox.com/develop?View=11" class=tab-item>Shirts</a> <a href="https://web.roblox.com/develop?View=2" class=tab-item>T-Shirts</a> <a href="https://web.roblox.com/develop?View=12" class=tab-item>Pants</a> <a href="https://web.roblox.com/develop?View=38" class=tab-item>Plugins</a>
                                                            <div id=StudioWidget>
                                                                <div class=widget-name>
                                                                    <h3>Developer Resources</h3>
                                                                </div>
                                                                <div class=content>
                                                                    <div id=LeftColumn>
                                                                        <div class=studio-icon><img src=https://images.rbxcdn.com/3da410727fa2670dcb4f31316643138a.svg.gzip></div>
                                                                    </div>
                                                                    <div id=RightColumn>
                                                                        <ul>
                                                                            <li><a href=https://s3.amazonaws.com/setup.roblox.com/RobloxStudioLauncherBeta.exe class=studio-launch download>Studio</a>
                                                                            <li><a href="https://www.robloxdev.com/">Docs</a>
                                                                            <li><a href="https://devforum.roblox.com/">Community</a>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <td class=content-area><a href=https://web.roblox.com/places/create id=CreatePlace class="create-new-button btn-medium btn-primary">Create New Game</a>
                                                            <table class=section-header>
                                                                <tr>
                                                                    <td class=content-title>
                                                                        <div>
                                                                            <h2 class=header-text>Games</h2><span class=aside-text data-active-count=16 data-max-active-count=200></span>
                                                                            <label class="checkbox-label active-only-checkbox">
                                                                                <input type=checkbox>Show Public Only</label>
                                                                        </div>
                                                            </table>
                                                            <div class=items-container>
                                                                <table class=item-table data-item-id=876572098 data-rootplace-id=2482121160 data-in-showcase=true data-configure-url="https://web.roblox.com/universes/configure?id=876572098" data-configure-localization-url=https://web.roblox.com/localization/games/876572098/configure data-create-badge-url="https://web.roblox.com/develop?selectedPlaceId=2482121160&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop?selectedPlaceId=2482121160&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2482121160/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2482121160&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/876572098/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/876572098/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=876572098" class=game-image> <img src=https://t4.rbxcdn.com/353ea2f32b01b5fc1240d3ac867c8e1b alt="Body Mix-Up"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=876572098">Body Mix-Up</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2482121160/Body-Mix-Up>Body Mix-Up</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=876572098">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=852280870 data-rootplace-id=2423450821 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=852280870" data-configure-localization-url=https://web.roblox.com/localization/games/852280870/configure data-create-badge-url="https://web.roblox.com/develop?selectedPlaceId=2423450821&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop?selectedPlaceId=2423450821&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2423450821/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2423450821&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/852280870/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/852280870/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=852280870" class=game-image> <img src=https://t3.rbxcdn.com/c7e424c195e2713e132944ef01dcce04 alt="Boxcar Racer"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=852280870">Boxcar Racer</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2423450821/Boxcar-Racer>Boxcar Racer</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-inactive href="https://web.roblox.com/universes/configure?id=852280870">Private</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                              
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=457430302 data-rootplace-id=1106344179 data-in-showcase=true data-configure-url="https://web.roblox.com/universes/configure?id=457430302" data-configure-localization-url=https://web.roblox.com/localization/games/457430302/configure data-create-badge-url="https://web.roblox.com/develop?selectedPlaceId=1106344179&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop?selectedPlaceId=1106344179&amp;View=34" data-developerstats-url=https://web.roblox.com/places/1106344179/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=1106344179&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/457430302/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/457430302/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=457430302" class=game-image> <img src=https://t4.rbxcdn.com/0e89bf5be2642c5698baa3ec72ba7cdc alt="#### ###### tix, obc"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=457430302">#### ###### tix, obc</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/1106344179/tix-obc>#### ###### tix, obc</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=457430302">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=334215093 data-rootplace-id=771979528 data-in-showcase=true data-configure-url="https://web.roblox.com/universes/configure?id=334215093" data-configure-localization-url=https://web.roblox.com/localization/games/334215093/configure data-create-badge-url="https://web.roblox.com/develop?selectedPlaceId=771979528&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop?selectedPlaceId=771979528&amp;View=34" data-developerstats-url=https://web.roblox.com/places/771979528/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=771979528&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/334215093/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/334215093/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=334215093" class=game-image> <img src=https://t3.rbxcdn.com/f841d97c4e99cb0044ac639e5188bc80 alt="[Moving] Race Beta"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=334215093">[Moving] Race Beta</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/771979528/Moving-Race-Beta>[Moving] Race Beta</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=334215093">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                            </div>
                                                            <div class=build-loading-container style=display:none>
                                                                <div class=buildpage-loading-container><img alt=^_^ src=https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif></div>
                                                            </div>
                                                </table>
                                                <div id=build-dropdown-menu><a href=# data-href-reference=configure-url>Configure Game</a> <a href=# data-require-root-place=true data-configure-place-template=https://web.roblox.com/places/0/update>Configure Start Place</a> <a href=# data-href-reference=configure-localization-url id=configure-localization-link>Configure Localization</a> <a href=# class=divider-top data-href-reference=create-badge-url data-require-root-place=true>Create Badge</a> <a href=# data-href-reference=create-gamepass-url data-require-root-place=true>Create Game Pass</a> <a href="https://web.roblox.com/catalog/browse.aspx?Category=5&amp;showInstructions=true" data-require-root-place=true>Add Gear</a> <a href=# data-href-reference=developerstats-url data-require-root-place=true>Developer Stats</a> <a href=# data-href-reference=advertise-url class=divider-top>Advertise</a> <a href=# class=sponsorGameLink data-href-template=https://web.roblox.com/sponsored-games/create/0 data-require-root-place=true>Sponsor</a> <a class="shutdown-all-servers-button divider-top" href=# data-require-root-place=true>Shut Down All Servers</a></div>
                                                <div class="PlaceSelectorModal modalPopup unifiedModal" style=display:none>
                                                    <div class=Title>Select Place</div>
                                                    <div class="GenericModalBody text">
                                                        <div class=place-selector-modal data-place-loader-url="/universes/get-places-by-context?creationContext=NonGameCreation&amp;universeId=0&amp;groupId=&amp;ignoreRootPlace=False">
                                                            <div class=place-selector-container>
                                                                <div id=PlaceSelectorItemContainer class=place-selector-item-container></div>
                                                                <div id=PlaceSelectorPagerContainer class=place-selector-pager-container></div>
                                                            </div>
                                                            <div class="place-selector selectable template" title=Place style=display:none>
                                                                <div class=place-image data-retry-url-template="/asset-thumbnail/json?height=100&amp;width=160&amp;format=jpeg&amp;returnAutoGenerated=True"><img alt=^_^ class=item-image src=https://images.rbxcdn.com/ec5c01d220bf1b73403fa51519267742.gif></div>
                                                                <div class=InfoContainer>
                                                                    <div class=place-name></div>
                                                                    <div class=game-name><span class=form-label>Game: </span><span class=game-name-text></span></div>
                                                                    <div class=root-place style=display:none><span>Cannot choose start places</span></div>
                                                                </div>
                                                                <div style=clear:both></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(function() {
                                                        Roblox.PlaceSelector.Init();
                                                        Roblox.PlaceSelector.Resources = {
                                                            anErrorOccurred: 'An error occurred, please try again.'
                                                        };
                                                    });
                                                </script>
                                                <div class="GenericModal modalPopup unifiedModal smallModal" style=display:none>
                                                    <div class=Title></div>
                                                    <div class=GenericModalBody>
                                                        <div>
                                                            <div class=ImageContainer><img class=GenericModalImage alt="generic image"></div>
                                                            <div class=Message></div>
                                                        </div>
                                                        <div class=GenericModalButtonContainer><a class="ImageButton btn-neutral btn-large roblox-ok">OK</a></div>
                                                    </div>
                                                </div>
                                                <script>
                                                    Roblox = Roblox || {};
                                                    Roblox.BuildPage = Roblox.BuildPage || {};
                                                    Roblox.BuildPage.AlertURL = "https://images.rbxcdn.com/43ac54175f3f3cd403536fedd9170c10.png";
                                                </script>
                                            </div>
                                            <script>
                                                if (typeof Roblox === "undefined") {
                                                    Roblox = {};
                                                }
                                                if (typeof Roblox.BuildPage === "undefined") {
                                                    Roblox.BuildPage = {};
                                                }
                                                Roblox.BuildPage.Resources = {
                                                    active: "Public",
                                                    inactive: "Private",
                                                    activatePlace: "Make Place Public",
                                                    editGame: "Edit Game",
                                                    ok: "OK",
                                                    robloxStudio: "ROBLOX Studio",
                                                    openIn: "To edit this game, open to this page in ",
                                                    placeInactive: "Make Place Private",
                                                    toBuileHere: "To build here, please activate this place by clicking the ",
                                                    inactiveButton: "inactive button. ",
                                                    createModel: "Create Model",
                                                    toCreate: "To create models, please use ",
                                                    makeActive: "Make Public",
                                                    makeInactive: "Make Private",
                                                    purchaseComplete: "Purchase Complete!",
                                                    youHaveBid: "You have successfully bid ",
                                                    confirmBid: "Confirm the Bid",
                                                    placeBid: "Place Bid",
                                                    cancel: "Cancel",
                                                    errorOccurred: "Error Occurred",
                                                    adDeleted: "Ad Deleted",
                                                    theAdWasDeleted: "The Ad has been deleted.",
                                                    confirmDelete: "Confirm Deletion",
                                                    areYouSureDelete: "Are you sure you want to delete this Ad?",
                                                    bidRejected: "Your bid was Rejected",
                                                    bidRange: "Bid value must be a number between ",
                                                    bidRange2: "Bid value must be a number greater than ",
                                                    and: " and ",
                                                    yourRejected: "Your bid was Rejected",
                                                    estimatorExplanation: "This estimator uses data from ads run yesterday to guess how many impressions your ad will recieve.",
                                                    estimatedImpressions: "Estimated Impressions ",
                                                    makeAdBid: "Make Ad Bid",
                                                    wouldYouLikeToBid: "Would you like to bid ",
                                                    verify: "Verify",
                                                    emailVerifiedTitle: "Verify Your Email",
                                                    emailVerifiedMessage: "You must verify your email before you can work on your place. You can verify your email on the <a href='https://web.roblox.com/my/account?confirmemail=1'>Account</a> page.",
                                                    continueText: "Continue",
                                                    profileRemoveTitle: "Remove from profile?",
                                                    profileRemoveMessage: "This game is private and listed on your profile, do you wish to remove it?",
                                                    profileAddTitle: "Add to profile?",
                                                    profileAddMessage: "This game is public, but not listed on your profile, do you wish to add it?",
                                                    deactivateTitle: "Make Game Private",
                                                    deactivateBody: "This will shut down any running games <br /><br />Do you still want to make this game private?",
                                                    deactivateButton: "Make Private",
                                                    questionmarkImgUrl: "https://static.rbxcdn.com/images/Buttons/questionmark-12x12.png",
                                                    activationRequestFailed: "Request to make game public failed. Please retry in a few minutes!",
                                                    deactivationRequestFailed: "Request to make game private failed. Please retry in a few minutes!",
                                                    tooManyActiveMessage: "You have reached the maximum number of public places for your membership level. Make one of your existing places private before making this place public.",
                                                    activeSlotsMessage: "{0} of {1} public slots used"
                                                };
                                            </script>
                                        </div>
                                        <div id=GroupCreationsTab>
                                            <div class=BuildPageContent data-groupid=4436366>
                                                <div class="creation-context-filters-and-sorts" data-fetchplaceurl="/develop/groups/games-list" data-universeid="0" data-fetchuniverseplaces="false"></div>
                                                <input id=assetTypeId name=assetTypeId type=hidden value=0>
                                                <input data-val=true data-val-number="The field GroupID must be a number." data-val-required="The GroupID field is required." id=groupId name=groupId type=hidden value=4436366>
                                                <input data-val=true data-val-required="The IsTgaUploadEnabled field is required." id=isTgaUploadEnabled name=isTgaUploadEnabled type=hidden value=True>
                                                <table id=build-page data-asset-type-id=0 data-showcases-enabled=true data-edit-opens-studio=True>
                                                    <tr>
                                                        <td class="menu-area divider-right">
                                                            <div class=groups-dropdown-container data-get-url=https://web.roblox.com/develop/groups>
                                                                <label class=sort-label>Select Group:</label>
                                                                <select data-val=true data-val-number="The field SelectedGroupId must be a number." id=SelectedGroupId name=SelectedGroupId>
                                                                    <option selected value=4436366>Loganh4005&#39;s Studio</option>
                                                                </select>
                                                            </div><a href="https://web.roblox.com/develop/groups/4436366?Page=universes" class="tab-item tab-item-selected">Games</a> <a href="https://web.roblox.com/develop/groups/4436366?View=9" class=tab-item>Places</a> <a href="https://web.roblox.com/develop/groups/4436366?View=10" class=tab-item>Models</a> <a href="https://web.roblox.com/develop/groups/4436366?View=13" class=tab-item>Decals</a> <a href="https://web.roblox.com/develop/groups/4436366?View=21" class=tab-item>Badges</a> <a href="https://web.roblox.com/develop/groups/4436366?Page=game-passes" class=tab-item>Game Passes</a> <a href="https://web.roblox.com/develop/groups/4436366?View=3" class=tab-item>Audio</a> <a href="https://web.roblox.com/develop/groups/4436366?View=24" class=tab-item>Animations</a> <a href="https://web.roblox.com/develop/groups/4436366?View=40" class=tab-item>Meshes</a> <a href="https://web.roblox.com/develop/groups/4436366?Page=ads" class=tab-item>User Ads</a> <a href="https://web.roblox.com/develop/groups/4436366?Page=sponsored-games" class=tab-item>Sponsored Games</a> <a href="https://web.roblox.com/develop/groups/4436366?View=11" class=tab-item>Shirts</a> <a href="https://web.roblox.com/develop/groups/4436366?View=2" class=tab-item>T-Shirts</a> <a href="https://web.roblox.com/develop/groups/4436366?View=12" class=tab-item>Pants</a> <a href="https://web.roblox.com/develop/groups/4436366?View=38" class=tab-item>Plugins</a>
                                                            <div id=StudioWidget>
                                                                <div class=widget-name>
                                                                    <h3>Developer Resources</h3>
                                                                </div>
                                                                <div class=content>
                                                                    <div id=LeftColumn>
                                                                        <div class=studio-icon><img src=https://images.rbxcdn.com/3da410727fa2670dcb4f31316643138a.svg.gzip></div>
                                                                    </div>
                                                                    <div id=RightColumn>
                                                                        <ul>
                                                                            <li><a href=https://s3.amazonaws.com/setup.roblox.com/RobloxStudioLauncherBeta.exe class=studio-launch download>Studio</a>
                                                                            <li><a href="https://www.robloxdev.com/">Docs</a>
                                                                            <li><a href="https://devforum.roblox.com/">Community</a>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <td class=content-area><a href=https://web.roblox.com/places/create/4436366 id=CreatePlace class="create-new-button btn-medium btn-primary">Create New Game</a>
                                                            <table class=section-header>
                                                                <tr>
                                                                    <td class=content-title>
                                                                        <div>
                                                                            <h2 class=header-text>Games</h2><span class=aside-text data-active-count=5 data-max-active-count=200></span>
                                                                            <label class="checkbox-label active-only-checkbox">
                                                                                <input type=checkbox>Show Public Only</label>
                                                                        </div>
                                                            </table>
                                                            <div class=items-container>
                                                                <table class=item-table data-item-id=1223647187 data-rootplace-id=3432851058 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=1223647187" data-configure-localization-url=https://web.roblox.com/localization/games/1223647187/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=3432851058&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=3432851058&amp;View=34" data-developerstats-url=https://web.roblox.com/places/3432851058/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=3432851058&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/1223647187/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/1223647187/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=1223647187" class=game-image> <img src=https://t0.rbxcdn.com/ba69c921804ad469a6eeaf61685d6d57 alt="Game Dev Tycoon"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=1223647187">Game Dev Tycoon</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/3432851058/Game-Dev-Tycoon>Game Dev Tycoon</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=1223647187">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=947291207 data-rootplace-id=2637576256 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=947291207" data-configure-localization-url=https://web.roblox.com/localization/games/947291207/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2637576256&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2637576256&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2637576256/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2637576256&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/947291207/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/947291207/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=947291207" class=game-image> <img src=https://t6.rbxcdn.com/13acb0b63f8456dbd83b248ce9ef3f2c alt="Arcade Tycoon"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=947291207">Arcade Tycoon</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2637576256/Arcade-Tycoon>Arcade Tycoon</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-inactive href="https://web.roblox.com/universes/configure?id=947291207">Private</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=935783172 data-rootplace-id=2608659161 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=935783172" data-configure-localization-url=https://web.roblox.com/localization/games/935783172/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2608659161&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2608659161&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2608659161/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2608659161&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/935783172/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/935783172/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=935783172" class=game-image> <img src=https://t6.rbxcdn.com/458aa0590885fd38869736e91e560c14 alt="Roblox Movies"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=935783172">Roblox Movies</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2608659161/Roblox-Movies>Roblox Movies</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=935783172">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=934936607 data-rootplace-id=2606601793 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=934936607" data-configure-localization-url=https://web.roblox.com/localization/games/934936607/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2606601793&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2606601793&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2606601793/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2606601793&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/934936607/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/934936607/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=934936607" class=game-image> <img src=https://t2.rbxcdn.com/103a04b2f8c0d53c7e2048103983815f alt=Tester> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=934936607">Tester</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2606601793/Tester>Tester</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=934936607">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=882202448 data-rootplace-id=2497777178 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=882202448" data-configure-localization-url=https://web.roblox.com/localization/games/882202448/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2497777178&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2497777178&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2497777178/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2497777178&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/882202448/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/882202448/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=882202448" class=game-image> <img src=https://t2.rbxcdn.com/3a9b8b6eb00737955c696d3e4d32b27c alt="Fun Obby"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=882202448">Fun Obby</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2497777178/Fun-Obby>Fun Obby</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=882202448">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=852276721 data-rootplace-id=2423439818 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=852276721" data-configure-localization-url=https://web.roblox.com/localization/games/852276721/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2423439818&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2423439818&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2423439818/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2423439818&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/852276721/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/852276721/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=852276721" class=game-image> <img src=https://t6.rbxcdn.com/ddd2b51003110fa68178da7dc8c3f006 alt="###### Ball"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=852276721">###### Ball</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2423439818/Ball>###### Ball</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-active href="https://web.roblox.com/universes/configure?id=852276721">Public</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                                <table class=item-table data-item-id=840966745 data-rootplace-id=2398018599 data-in-showcase=false data-configure-url="https://web.roblox.com/universes/configure?id=840966745" data-configure-localization-url=https://web.roblox.com/localization/games/840966745/configure data-create-badge-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2398018599&amp;View=21" data-create-gamepass-url="https://web.roblox.com/develop/groups/4436366?selectedPlaceId=2398018599&amp;View=34" data-developerstats-url=https://web.roblox.com/places/2398018599/stats data-advertise-url="https://web.roblox.com/My/NewUserAd.aspx?targetId=2398018599&amp;targettype=Asset" data-activate-universe-url=https://develop.roblox.com/v1/universes/840966745/activate data-deactivate-universe-url=https://develop.roblox.com/v1/universes/840966745/deactivate data-type=universes>
                                                                    <tr>
                                                                        <td class="image-col universe-image-col" style=text-align:center>
                                                                            <a href="https://web.roblox.com/universes/configure?id=840966745" class=game-image> <img src=https://t6.rbxcdn.com/cb97f2b297168c835870df3cb7ee1285 alt="Loganh4005's Studio Poll Alpha"> </a>
                                                                        <td class=universe-name-col><a class="title notranslate" href="https://web.roblox.com/universes/configure?id=840966745">Loganh4005&#39;s Studio Poll Alpha</a>
                                                                            <table class=details-table>
                                                                                <tr>
                                                                                    <td class=item-universe><span>Start Place:</span> <a class="title notranslate start-place-url" href=https://web.roblox.com/games/2398018599/Loganh4005s-Studio-Poll-Alpha>Loganh4005&#39;s Studio Poll Alpha</a>
                                                                                <tr class=activate-cell>
                                                                                    <td><a class=place-inactive href="https://web.roblox.com/universes/configure?id=840966745">Private</a>
                                                                                </tr>
                                                                            </table>
                                                                        <td class=edit-col><a class="roblox-edit-button btn-control btn-control-large" href=javascript:>Edit</a>
                                                                        <td class=menu-col>
                                                                            <div class=gear-button-wrapper>
                                                                                <a href=# class=gear-button></a>
                                                                            </div>
                                                                </table>
                                                                <div class=separator></div>
                                                            </div>
                                                            <div class=build-loading-container style=display:none>
                                                                <div class=buildpage-loading-container><img alt=^_^ src=https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif></div>
                                                            </div>
                                                </table>
                                                <div id=build-dropdown-menu><a href=# data-href-reference=configure-url>Configure Game</a> <a href=# data-require-root-place=true data-configure-place-template=https://web.roblox.com/places/0/update>Configure Start Place</a> <a href=# data-href-reference=configure-localization-url id=configure-localization-link>Configure Localization</a> <a href=# class=divider-top data-href-reference=create-badge-url data-require-root-place=true>Create Badge</a> <a href=# data-href-reference=create-gamepass-url data-require-root-place=true>Create Game Pass</a> <a href="https://web.roblox.com/catalog/browse.aspx?Category=5&amp;showInstructions=true" data-require-root-place=true>Add Gear</a> <a href=# data-href-reference=developerstats-url data-require-root-place=true>Developer Stats</a> <a href=# data-href-reference=advertise-url class=divider-top>Advertise</a> <a href=# class=sponsorGameLink data-href-template=https://web.roblox.com/sponsored-games/create/0 data-require-root-place=true>Sponsor</a> <a class="shutdown-all-servers-button divider-top" href=# data-require-root-place=true>Shut Down All Servers</a></div>
                                                <div class="PlaceSelectorModal modalPopup unifiedModal" style=display:none>
                                                    <div class=Title>Select Place</div>
                                                    <div class="GenericModalBody text">
                                                        <div class=place-selector-modal data-place-loader-url="/universes/get-places-by-context?creationContext=NonGameCreation&amp;universeId=0&amp;groupId=4436366&amp;ignoreRootPlace=False">
                                                            <div class=place-selector-container>
                                                                <div id=PlaceSelectorItemContainer class=place-selector-item-container></div>
                                                                <div id=PlaceSelectorPagerContainer class=place-selector-pager-container></div>
                                                            </div>
                                                            <div class="place-selector selectable template" title=Place style=display:none>
                                                                <div class=place-image data-retry-url-template="/asset-thumbnail/json?height=100&amp;width=160&amp;format=jpeg&amp;returnAutoGenerated=True"><img alt=^_^ class=item-image src=https://images.rbxcdn.com/ec5c01d220bf1b73403fa51519267742.gif></div>
                                                                <div class=InfoContainer>
                                                                    <div class=place-name></div>
                                                                    <div class=game-name><span class=form-label>Game: </span><span class=game-name-text></span></div>
                                                                    <div class=root-place style=display:none><span>Cannot choose start places</span></div>
                                                                </div>
                                                                <div style=clear:both></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(function() {
                                                        Roblox.PlaceSelector.Init();
                                                        Roblox.PlaceSelector.Resources = {
                                                            anErrorOccurred: 'An error occurred, please try again.'
                                                        };
                                                    });
                                                </script>
                                                <div class="GenericModal modalPopup unifiedModal smallModal" style=display:none>
                                                    <div class=Title></div>
                                                    <div class=GenericModalBody>
                                                        <div>
                                                            <div class=ImageContainer><img class=GenericModalImage alt="generic image"></div>
                                                            <div class=Message></div>
                                                        </div>
                                                        <div class=GenericModalButtonContainer><a class="ImageButton btn-neutral btn-large roblox-ok">OK</a></div>
                                                    </div>
                                                </div>
                                                <script>
                                                    Roblox = Roblox || {};
                                                    Roblox.BuildPage = Roblox.BuildPage || {};
                                                    Roblox.BuildPage.AlertURL = "https://images.rbxcdn.com/43ac54175f3f3cd403536fedd9170c10.png";
                                                </script>
                                            </div>
                                            <div class=Ads_WideSkyscraper></div>
                                            <script>
                                                if (typeof Roblox === "undefined") {
                                                    Roblox = {};
                                                }
                                                if (typeof Roblox.BuildPage === "undefined") {
                                                    Roblox.BuildPage = {};
                                                }
                                                Roblox.BuildPage.Resources = {
                                                    active: "Public",
                                                    inactive: "Private",
                                                    activatePlace: "Make Place Public",
                                                    editGame: "Edit Game",
                                                    ok: "OK",
                                                    robloxStudio: "ROBLOX Studio",
                                                    openIn: "To edit this game, open to this page in ",
                                                    placeInactive: "Make Place Private",
                                                    toBuileHere: "To build here, please activate this place by clicking the ",
                                                    inactiveButton: "inactive button. ",
                                                    createModel: "Create Model",
                                                    toCreate: "To create models, please use ",
                                                    makeActive: "Make Public",
                                                    makeInactive: "Make Private",
                                                    purchaseComplete: "Purchase Complete!",
                                                    youHaveBid: "You have successfully bid ",
                                                    confirmBid: "Confirm the Bid",
                                                    placeBid: "Place Bid",
                                                    cancel: "Cancel",
                                                    errorOccurred: "Error Occurred",
                                                    adDeleted: "Ad Deleted",
                                                    theAdWasDeleted: "The Ad has been deleted.",
                                                    confirmDelete: "Confirm Deletion",
                                                    areYouSureDelete: "Are you sure you want to delete this Ad?",
                                                    bidRejected: "Your bid was Rejected",
                                                    bidRange: "Bid value must be a number between ",
                                                    bidRange2: "Bid value must be a number greater than ",
                                                    and: " and ",
                                                    yourRejected: "Your bid was Rejected",
                                                    estimatorExplanation: "This estimator uses data from ads run yesterday to guess how many impressions your ad will recieve.",
                                                    estimatedImpressions: "Estimated Impressions ",
                                                    makeAdBid: "Make Ad Bid",
                                                    wouldYouLikeToBid: "Would you like to bid ",
                                                    verify: "Verify",
                                                    emailVerifiedTitle: "Verify Your Email",
                                                    emailVerifiedMessage: "You must verify your email before you can work on your place. You can verify your email on the <a href='https://web.roblox.com/my/account?confirmemail=1'>Account</a> page.",
                                                    continueText: "Continue",
                                                    profileRemoveTitle: "Remove from profile?",
                                                    profileRemoveMessage: "This game is private and listed on your profile, do you wish to remove it?",
                                                    profileAddTitle: "Add to profile?",
                                                    profileAddMessage: "This game is public, but not listed on your profile, do you wish to add it?",
                                                    deactivateTitle: "Make Game Private",
                                                    deactivateBody: "This will shut down any running games <br /><br />Do you still want to make this game private?",
                                                    deactivateButton: "Make Private",
                                                    questionmarkImgUrl: "https://static.rbxcdn.com/images/Buttons/questionmark-12x12.png",
                                                    activationRequestFailed: "Request to make game public failed. Please retry in a few minutes!",
                                                    deactivationRequestFailed: "Request to make game private failed. Please retry in a few minutes!",
                                                    tooManyActiveMessage: "You have reached the maximum number of public places for your membership level. Make one of your existing places private before making this place public.",
                                                    activeSlotsMessage: "{0} of {1} public slots used"
                                                };
                                            </script>
                                        </div>
                                        <div id=LibraryTab>
                                            <div class=loading id=LibraryLoadingIndicatorContainer><img id=LibraryLoadingIndicator src=https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif alt=Progress></div>
                                        </div>
                                    </div>
                                    <div id=AdPreviewModal class=simplemodal-data style=display:none>
                                        <div id=ConfirmationDialog style=overflow:hidden>
                                            <div id=AdPreviewContainer style=overflow:hidden></div>
                                        </div>
                                    </div>
                                    <script>
                                        Roblox.CatalogValues = Roblox.CatalogValues || {};
                                        Roblox.CatalogValues.CatalogContentsUrl = "/catalog/contents";
                                        Roblox.CatalogValues.CatalogContext = 2;
                                        Roblox.CatalogValues.CatalogContextDevelopOnly = 2;
                                        Roblox.CatalogValues.ContainerID = "LibraryTab";
                                        $(function() {
                                            if (Roblox && Roblox.AdsHelper && Roblox.AdsHelper.AdRefresher) {
                                                Roblox.AdsHelper.AdRefresher.globalCreateNewAdEnabled = true;
                                                Roblox.AdsHelper.AdRefresher.adRefreshRateInMilliseconds = 3000;
                                            }
                                        });
                                    </script>
                                    <div style=clear:both></div>
                                </div>
                            </div>
                        </div>

    <div class="notification-stream-base gotham-font" notification-stream-base></div>
    
    <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle=confirmation style=display:none>
        <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
        <div class=Title></div>
        <div class=GenericModalBody>
            <div class=TopBody>
                <div class="ImageContainer roblox-item-image" data-image-size=small data-no-overlays data-no-click><img class=GenericModalImage alt="generic image"></div>
                <div class=Message></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer"><a href="" id=roblox-confirm-btn><span></span></a> <a href="" id=roblox-decline-btn><span></span></a></div>
            <div class=ConfirmationModalFooter></div>
        </div>
        <script>
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};
            Roblox.Resources.GenericConfirmation = {
                yes: "Yes",
                No: "No",
                Confirm: "Confirm",
                Cancel: "Cancel"
            };
        </script>
    </div>
 
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=pageEnd src=https://js.rbxcdn.com/499518cf4a7b9bccc47f3f036ccb7160.js.gzip></script>
</body>
</html>