.account-recovery-modal-title-container{position:relative;height:28px}.account-recovery-modal-body-text{margin:12px 0;padding-bottom:24px}.account-recovery-no-button-container,.account-recovery-yes-button-container{margin:12px 0}.account-recovery-modal{min-width:543px}@media (max-width:543px){.account-recovery-modal{padding:0}}.account-recovery-modal .modal-dialog{overflow:auto;padding:0}.account-recovery-modal .modal-dialog .modal-content{border-radius:8px}.account-recovery-modal .modal-dialog .modal-content .modal-header{height:48px}.account-recovery-modal .modal-dialog .modal-content .modal-body{text-align:center}
/*
     FILE ARCHIVED ON 22:03:08 Aug 13, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:29:03 Nov 05, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.603
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 33.488
  LoadShardBlock: 255.53 (6)
  PetaboxLoader3.datanode: 281.425 (8)
  load_resource: 139.378 (2)
  PetaboxLoader3.resolve: 90.667 (2)
*/