.cross-device-login-display-code-modal-title-container{position:relative;height:28px}.cross-device-login-display-code-modal-title-button{background:transparent;border:none;outline:none;position:absolute;z-index:1}.cross-device-login-display-code-modal-image{height:142px;background-position:50%;background-size:auto 142px;background-repeat:no-repeat;margin:12px 0;background-image:url(https://web.archive.org/web/20210813220308im_/https://images.rbxcdn.com/97ece22f2b7d710a8d25196c871af810-lock.png)}.cross-device-login-ph-avatar-image{background-image:url(https://web.archive.org/web/20210813220308im_/https://images.rbxcdn.com/80225aae28d3aaa27ebd933f48538099-ph_avatar.png)}#contained-modal-title-vcenter{width:100%;text-align:center;position:absolute;top:-4px}.cross-device-login-display-code-modal{min-width:543px}@media (max-width:543px){.cross-device-login-display-code-modal{padding:0}}.cross-device-login-display-code-modal .modal-dialog{overflow:auto}.cross-device-login-display-code-modal .modal-dialog .modal-content{border-radius:8px}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-header{height:48px}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body{margin:0 12px;text-align:center}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-device-promp-text,.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-instruction-text{margin:12px 0}.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-avatar-thumbnail{border-radius:50%;width:160px;height:160px;vertical-align:text-top}
/*
     FILE ARCHIVED ON 22:03:08 Aug 13, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:29:02 Nov 05, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.478
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 11.309
  LoadShardBlock: 93.753 (3)
  PetaboxLoader3.datanode: 158.528 (5)
  load_resource: 238.61 (2)
  PetaboxLoader3.resolve: 143.575 (2)
*/