/* ~/CSS/RBXCommon.css */
.blueAndWhite {
	border: 2px solid #6e99c9;
	background-color: #fff;
	color: #000;
}

.blueAndWhite .titleBar {
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	margin-bottom: 5px;
	font-size: 13px;
}

#Authentication span a {
	color: #FFF;
}

.CreateSetButton {
	cursor: pointer;
	text-decoration: none;
}

.CreateSetButton:hover {
	background-color: Gray;
}

.SetAddButtonAlreadyContainsItem {
	background: url(/web/20160429201715im_/https://static.rbxcdn.com/images/accept.png) no-repeat right 2px;
}

.SetDescription {
	float: left;
	overflow-y: auto scroll;
	overflow-x: hidden;
}

.SetList {
	height: 30px;
	width: 0;
	display: block;
	position: relative;
}

.SetList>img {
	position: relative;
	float: left;
	z-index: 10;
	width: 20px;
	cursor: pointer;
	top: 5px;
	left: 5px;
}

.SetList .NewVersionAvailableBanner {
	background: url(/web/20160429201715im_/https://static.rbxcdn.com/images/Sets/img-update_available-left.png) no-repeat;
	height: 14px;
	width: 87px;
	position: absolute;
	left: 105px;
	z-index: 2;
	top: 7px;
}

.SetList a.btn-dropdown,
a.btn-dropdown-active {
	background: url(/web/20160429201715im_/https://static.rbxcdn.com/images/Sets/bg-drop_down_btn.png) no-repeat right top;
	border: 1px solid #777;
	padding: 6px 17px 0 8px;
	height: 19px;
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	display: block;
	float: left;
	position: relative;
	z-index: 10;
	width: 70px;
}

.SetList a.btn-dropdown:hover {
	background-position: right center;
	border-color: #888;
	text-decoration: none;
}

.SetList a.btn-dropdown-active:hover,
.SetList a.btn-dropdown-active:link {
	text-decoration: none;
}

.SetList a.btn-dropdown-active {
	background-position: right bottom;
	border-bottom: none;
	height: 20px;
}

.SetListDropDownList {
	position: absolute;
}

.SetListDropDownList .menu {
	width: 140px;
	background-color: #e1e1e1;
	border: 1px solid #777;
	position: relative;
	bottom: 1px;
	z-index: 1;
	clear: both;
	font: 12px normal Arial, Helvetica, sans-serif;
}

.SetListDropDownList .menu a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 2px 8px;
	margin: 4px 0;
	width: 124px;
}

.SetListDropDownList .menu a:hover,
.ui-autocomplete .ui-menu-item a:hover {
	background-color: #095fb5;
	color: #fff;
	cursor: pointer;
}

.SetListDropDownList .menu p {
	font: 11px normal Arial, Helvetica, sans-serif;
	color: #666;
	padding: 0 8px;
	margin: 5px 0 0 0;
}

.SetListDropDownList .menu p.hr {
	height: 1px;
	background-color: #a7a7a7;
	margin: 5px;
}

.SetListDropDown {
	position: relative;
	z-index: 9;
	left: 0;
	top: 0;
	*top: -14px;
}

.ItemOptions .SetListDropDown {
	*top: 0;
}

.SetList.SetOptions {
	z-index: 1;
}

.ItemOptions .SetListDropDown {
	left: -102px;
}

.SetListDropDownList.invisible,
.NewVersionAvailableBanner.invisible,
.SetList.ItemOptions.invisible {
	display: none;
}

.ui-autocomplete {
	padding: 0;
	background-color: #e1e1e1;
	border: 1px solid #777;
	font: 12px normal Arial, Helvetica, sans-serif;
	width: 201px;
}

.ui-autocomplete .ui-menu-item {
	list-style: none;
	display: block;
}

.ui-autocomplete .ui-menu-item a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 2px 8px;
	margin: 4px 0;
}

.product-promo-dropdown {
	width: 200px;
	margin: 5px;
}

#PlaceProductPromotionSelectionPanel .PurchaseModalMessage {
	height: 100%;
}

.Navigation {
	height: 35px;
	z-index: 1022;
}

.Navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 930px;
	margin: 0 auto;
}

.Navigation ul li {
	float: left;
	position: relative;
}

.Navigation ul li a,
.Navigation ul li a:visited {
	display: inline-block;
	color: #FFF;
	padding: 0 9px;
	border-left: 1px solid #FFF;
	font-size: 18px;
}

.Navigation ul li a h1,
.Navigation ul li a h2 {
	cursor: pointer;
}

.Navigation ul li:first-child a {
	border-left: none;
}

.clear {
	overflow: hidden;
	width: 100%;
	font-size: 0;
	clear: both;
}

.alignCenter {
	text-align: center;
}

.hidden {
	display: none;
}

.videoURL {
	width: 380px;
	height: 250px;
}

.FeaturedGameButton {
	background: url(/web/20160429201715im_/https://static.rbxcdn.com/images/buttons/btn-playnow_big2.png) no-repeat;
	height: 214px;
	width: 214px;
	height: 214px;
	overflow: hidden;
}

.FeaturedGameButton:hover {
	background-position: 0 -214px;
}

div.testingSitePanel {
	margin: 5px auto 8px;
	width: 870px;
	text-align: center;
	border: 3px #FFE066 solid;
	padding: 10px 5px;
	background: white;
}

div#Body div#GamesContainer {
	padding-top: 5px;
}

div#Body #BrowseContainer {
	padding: 5px 20px;
}

img#over13icon {
	float: left;
	padding-left: 7px;
	padding-top: 1px;
	position: relative;
	top: 18px;
	height: 11px;
	width: 20px;
}

a.logoutButton {
	margin-left: -2px;
	padding-top: 2px;
	position: static;
	top: auto;
}

div#ErrorPage {
	text-align: center;
	margin-bottom: 20px;
}

div#ErrorPage pre {
	text-align: left;
	font: normal 12pt Courier;
}

div#ErrorPage h1 {
	font-size: 40px;
	font-weight: bold;
	color: #363636;
	letter-spacing: -2px;
	margin-bottom: 10px;
	display: block;
}

img.ErrorAlert {
	display: block;
	margin: 25px auto 10px;
}

div#ErrorPage h3 {
	color: #363636;
	font-weight: bold;
	font-size: 16px;
}

div#ErrorPage .divideTitleAndBackButtons {
	margin: 20px auto;
	height: 1px;
	width: 55%;
	border-top: 1px solid #ccc;
}

div#ErrorPage div.CenterNavigationButtonsForFloat {
	width: 253px;
	margin: 0 auto;
}

.fbSplashPageConnect {
	margin: 5px 0;
}