/* ~/CSS/Pages/User/Search.css */
.people-search-textbox {
	width: 550px;
	margin-left: 20px;
}

.avatar-image-container {
	float: left;
}

.text-container {
	margin-left: 20px;
	float: left;
	width: 540px;
}

.view-button {
	margin-top: 10px;
	margin-left: 20px;
	float: right;
}

.result-item-container {
	cursor: pointer;
	padding: 10px;
}

.people-search-container {
	margin: 10px;
}

.peoplesearch-result-container {
	float: left;
}

.result-container {
	float: left;
	margin-top: 20px;
	width: 770px;
}

.skyscraper-ad-container {
	float: right;
	margin-left: 20px;
}

.result-item-container:hover {
	background-color: #f4f4f4;
}

.search-button-image-container {
	margin-left: 20px;
}

.pager-container {
	margin-top: 10px;
	text-align: center;
}

.avatar-image {
	height: 48px;
	width: 48px;
}