<footer class="container-footer">
    <div class="footer">
        <ul class="row footer-links">
                <li class="col-4 col-xs-2 footer-link">
                    <a href="https://web.archive.org/web/20160429214141/http://corp.roblox.com/" class="text-footer-nav roblox-interstitial" target="_blank">
                        About Us
                    </a>
                </li>
                <li class="col-4 col-xs-2 footer-link">
                    <a href="https://web.archive.org/web/20160429214141/http://corp.roblox.com/jobs" class="text-footer-nav roblox-interstitial" target="_blank">
                        Jobs
                    </a>
                </li>
            <li class="col-4 col-xs-2 footer-link">
                <a href="https://web.archive.org/web/20160429214141/http://blog.roblox.com/" class="text-footer-nav" target="_blank">
                    Blog
                </a>
            </li>
            <li class="col-4 col-xs-2 footer-link">
                <a href="https://web.archive.org/web/20160429214141/https://www.roblox.com/Info/Privacy.aspx" class="text-footer-nav" target="_blank">
                    Privacy
                </a>
            </li>
            <li class="col-4 col-xs-2 footer-link">
                <a href="https://web.archive.org/web/20160429214141/http://corp.roblox.com/parents" class="text-footer-nav roblox-interstitial" target="_blank">
                    Parents
                </a>
            </li>
            <li class="col-4 col-xs-2 footer-link">
                <a href="https://web.archive.org/web/20160429214141/http://en.help.roblox.com/" class="text-footer-nav roblox-interstitial" target="_blank">
                    Help
                </a>
            </li>
        </ul>
        <!-- NOTE: "ROBLOX Corporation" is a healthcheck; be careful when updating! -->
        <p class="text-footer footer-note">
            ROBLOX, "Online Building Toy", characters, logos, names, and all related indicia are trademarks of <a target="_blank" href="https://web.archive.org/web/20160429214141/http://corp.roblox.com/" class="text-link roblox-interstitial">ROBLOX Corporation</a>, ©2016.
            Patents pending. ROBLOX is not sponsored, authorized or endorsed by any producer of plastic building bricks, including The LEGO Group, MEGA Brands, and K'Nex, and no resemblance to the products of these companies is intended.
            Use of this site signifies your acceptance of the <a href="https://web.archive.org/web/20160429214141/https://www.roblox.com/info/terms-of-service" target="_blank" class="text-link">Terms and Conditions</a>.
        </p>
    </div>
</footer>
