<!DOCTYPE html>
<html lang="en">
<link href="~/favicon.ico" rel="icon">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/CSS/Base/CSS/Roblox.css">
    <link rel="stylesheet" href="~/CSS/RBXCommon.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Footer.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Header.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/StyleGuide.css">
    <link rel="stylesheet" href="~/CSS/Fonts/SourceSansPro-Google.css">
    <link rel="stylesheet" href="~/CSS/Legacy/Navigation.css">
    <link rel="stylesheet" href="~/CSS/Legacy/Modal.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Item.css">
    <script async src="~/JS/lib/beacon/beacon.js"></script>
    <!-- Now we import the roblox js scripts, there is plenty of them -->
    <!-- dependencies other scripts may use or not, angular, ajax and so on -->
    <script type="text/javascript" src="~/js/site.bundle.js"></script>
    <script type="text/javascript">
      window.Roblox = window.Roblox || {};
      if (Roblox.EventStream && Roblox.EventStream.Init) {
        // Provide safe non-empty defaults so EventStream beacon code doesn't crash
        Roblox.EventStream.Init("/images/signup/e.png", "/images/signup/e.png", "/pe?t=studio", "/pe?t=diagnostic");
      }
    </script>



    @RenderSection("Head", required: false)
</head>
<body>
    <partial name="_Header" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
