<!DOCTYPE html>
<html lang="en">
<link href="~/images/7aee41db80c1071f60377c3575a0ed87.ico" rel="icon">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/CSS/banner-styles.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/iconochive.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Roblox.css">
    <link rel="stylesheet" href="~/CSS/RBXCommon.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Footer.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Header.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/StyleGuide.css">
    <link rel="stylesheet" href="~/CSS/Fonts/SourceSansPro-Google.css">
    <link rel="stylesheet" href="~/CSS/Legacy/Navigation.css">
    <link rel="stylesheet" href="~/CSS/Legacy/Modal.css">
    <link rel="stylesheet" href="~/CSS/Base/CSS/Item.css">
    <script async src="~/lib/beacon/beacon.js"></script>
    <script src="~/lib/athena/athena.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/lib/bundle-playback/bundle-playback.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/wombat/wombat.js" charset="utf-8"></script>
    <script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>
    <script type="text/javascript" src="~/lib/ruffle/ruffle.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery-migrate-1.2.1.min.js"></script>
    @RenderSection("Head", required: false)
</head>
<body>
    <partial name="_Header" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
