.account-recovery-modal-title-container{position:relative;height:28px}.account-recovery-modal-body-text{margin:12px 0;padding-bottom:24px}.account-recovery-no-button-container,.account-recovery-yes-button-container{margin:12px 0}.account-recovery-modal{min-width:543px}@media (max-width:543px){.account-recovery-modal{padding:0}}.account-recovery-modal .modal-dialog{overflow:auto;padding:0}.account-recovery-modal .modal-dialog .modal-content{border-radius:8px}.account-recovery-modal .modal-dialog .modal-content .modal-header{height:48px}.account-recovery-modal .modal-dialog .modal-content .modal-body{text-align:center}
/*
     FILE ARCHIVED ON 19:22:39 Aug 22, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:18:10 Apr 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.482
  exclusion.robots: 0.013
  exclusion.robots.policy: 0.006
  esindex: 0.009
  cdx.remote: 6.733
  LoadShardBlock: 104.68 (6)
  PetaboxLoader3.datanode: 117.783 (7)
  load_resource: 96.655
  PetaboxLoader3.resolve: 74.038
*/