<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Control_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Control_Panel.Properties.Settings>
      <setting name="DatabaseConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedTheme" serializeAs="String">
        <value>WPTheme</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>AppTheme</value>
      </setting>
      <setting name="ColorScheme" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ArbiterHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ArbiterPort" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WebsiteHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="WebsitePort" serializeAs="String">
        <value>5077</value>
      </setting>
      <setting name="ApiHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ApiPort" serializeAs="String">
        <value>5078</value>
      </setting>
      <setting name="CdnHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="CdnPort" serializeAs="String">
        <value>5079</value>
      </setting>
      <setting name="AssetsDirectory" serializeAs="String">
        <value>C:\Users\Intel\Documents\GitHub\Roblox-Webserver\CDN\Assets</value>
      </setting>
      <setting name="ThumbnailsOutputDirectory" serializeAs="String">
        <value>C:\Users\Intel\Documents\GitHub\Roblox-Webserver\CDN\Assets\thumbnails</value>
      </setting>
      <setting name="ThumbnailUrl" serializeAs="String">
        <value>https://cdn.freblx.xyz/</value>
      </setting>
      <setting name="TshirtTemplatePath" serializeAs="String">
        <value>C:\Users\Intel\Documents\GitHub\Roblox-Webserver\Website\Images\TeeShirtTemplate.png</value>
      </setting>
      <setting name="TshirtTemplateHighResPath" serializeAs="String">
        <value>C:\Users\Intel\Documents\GitHub\Roblox-Webserver\Website\Images\TeeShirtTemplateHighRes.png</value>
      </setting>
      <setting name="PublicBaseUrl" serializeAs="String">
        <value>https://www.freblx.xyz</value>
      </setting>
    </Control_Panel.Properties.Settings>
  </userSettings>
</configuration>
