/* ~/CSS/Base/CSS/Item.css */
.PromoteModalErrorMessage.errorStatusBar {
	height: auto;
	display: none;
	min-height: 0;
	padding: 5px;
}

#ItemContainer {
	margin-top: 10px;
}

#ItemContainer #Item {
	float: left;
	width: 800px;
}

#ItemContainer #Thumbnail {
	height: 320px;
	width: 320px;
	padding: 0;
	text-align: left;
	min-width: 0;
	position: relative;
	margin: 20px 0;
}

#ThumbnailText {
	font-size: 12px;
	padding-bottom: 5px;
}

#ItemContainer h1 {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#ItemContainer h3 {
	display: block;
}

#ItemContainer .item-type {
	margin: 2px 0 20px 0;
	padding: 0;
}

#ItemContainer #Summary #Creator {
	float: left;
}

.fblike {
	margin-left: 20px;
}

#Summary .SummaryDetails {
	margin: 0 20px 5px 20px;
	padding-bottom: 40px;
	position: relative;
	min-height: 249px;
	width: 268px;
	float: left;
}

#Summary .SummaryDetails .AssetName {
	overflow: hidden;
}

#Summary .DescriptionPanel {
	clear: both;
}

#Summary .SummaryDetails .Avatar {
	padding: 0 0 8px 0;
}

#ItemContainer #Summary {
	float: left;
	margin-bottom: 20px;
	padding: 0;
	width: 480px;
}

#ItemContainer #Summary .ContentRating {
	margin-left: 1px;
	margin-top: 3px;
}

#ItemContainer .UserOwns {
	display: none;
}

#ItemContainer #Summary .Description a:hover {
	cursor: pointer;
}

.Description.Full {
	white-space: pre;
}

.Description.body {
	white-space: pre-line;
	max-height: 200px;
	overflow-x: hidden;
}

#ItemContainer #BuyWithTickets,
#ItemContainer #BuyWithRobux {
	margin: 5px 0;
}

#timer {
	margin: 0 0 5px 0;
}

#Summary .item-detail {
	float: left;
	padding-left: 5px;
}

.GenreInfo .GamesInfoIcon {
	display: inline-block;
	background-image: url(/images/GenreIcons/GenreIconsSprite.png);
	width: 16px;
	height: 16px;
}

.LimitedEditionRemaining,
#RobuxPurchaseDisabledMsg,
#PricePublicDomain,
.PrivateSalesPurchasePanel,
.PrivateSalesPurchasePanel .Price,
.PublicDomainPrice {
	margin-bottom: 5px;
}

.PrivateSalesPurchasePanel .Price {
	display: block;
}

.PrivateSalesPurchasePanel .invisible,
.ItemOptions .invisible,
pre.Description.Full,
.SetListDropDownList .menu a.invisible {
	display: none;
}

#Tabs {
	margin-bottom: 10px;
}

.ui-tabs-hide {
	display: none;
}

#ItemContainer .Ownership {
	float: right;
}

.PrivateSales {
	padding-top: 20px;
}

.PrivateSales h2 {
	margin: 0 0 15px 0;
	display: block;
}

.createSetPanelPopup {
	width: 400px;
	height: 100%;
	padding: 0;
	float: left;
	display: none;
}

.createSetPanelPopup div {
	float: left;
}

.closeBtnCircle_35h:hover {
	background-position: 0 35px;
}

.closeBtnCircle_35h {
	width: 35px;
	height: 35px;
	background: url(/images/Buttons/closeBtnCircle_35h.png);
}

.closeBtnCircle_20h:hover {
	background-position: 0 20px;
}

.closeBtnCircle_20h {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-left: 395px;
	position: absolute;
	top: 5px;
	left: 5px;
	background: url(/images/Buttons/btn-x.png);
}

.PurchaseModal .simplemodal-close a {
	background: url('/images/Buttons/btn-x.png') no-repeat top left;
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 5px;
}

.PurchaseModal .simplemodal-close a:hover {
	background-position: bottom left;
	cursor: pointer;
}

#ProcessingView {
	width: 200px;
}

#ProcessingView p {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.SetList.ItemOptions {
	position: relative;
	top: 0;
	right: 210px;
	float: right;
}

.SetList.ItemOptions a.btn-dropdown,
.ItemOptions a.btn-dropdown-active {
	width: 13px;
}

#ItemContainer #Summary #ReportAbuse {
	margin: 0 auto;
	padding: 4px;
	text-align: center;
}

.ConfigureItemButtons {
	text-align: center;
}

.ConfigureItemButtons .btn-medium {
	font-size: 18px;
	height: 24px;
	min-width: 50px;
	padding: 1px 10px 2px 10px;
}

.btn-blue-ok-sharp {
	height: 50px;
	width: 102px;
	display: inline-block;
	background: url('/images/Buttons/btn_blue_ok_l.png') top left no-repeat;
}

.btn-blue-ok-sharp:hover {
	cursor: pointer;
	background-position: bottom left;
}

.UserOwnsAsset {
	display: inline-block;
	height: 9px;
	width: 9px;
	vertical-align: middle;
	margin-right: 4px;
	top: 50%;
	margin-top: -4.5px;
	background: url('/web/20160429201715im_/https://static.rbxcdn.com/images/Icons/comment-user-owns-asset.png');
}

#ItemContainer #Actions {
	overflow: hidden;
	top: 420px;
	width: 408px;
	padding: 5px;
	text-align: left;
}

#ItemContainer #Actions {
	padding: 5px;
	text-align: left;
	width: 230px;
}

.CustomizeCharacterLink {
	display: block;
	margin-top: 10px;
}

.PurchaseModalMessage.SuccessMsg {
	padding: 30px 20px 20px 20px;
	height: auto;
}

.PurchaseModal span.Robux,
.PurchaseModal span.Tickets,
.PurchaseModal span.Free {
	margin-bottom: 2px;
}

.PurchaseModalClose {
	cursor: pointer;
	position: absolute;
	right: -18px;
	top: -18px;
}

.PurchaseModal {
	width: 435px;
	display: none;
	position: absolute;
	border: 2px solid #272727;
	background-color: #E1E1E1;
	padding: 5px;
}

.PurchaseModal .titleBar {
	background-color: #E1E1E1;
	font-weight: bold;
	font-size: 27px;
	letter-spacing: -1px;
	color: #343434;
	height: 38px;
	text-align: center;
}

.PurchaseModalBody {
	background-color: #fff;
}

.PurchaseModalMessage {
	padding: 10px;
	height: 110px;
}

#create-set-dialog {
	height: 327px;
}

#PurchaseModalButtonContainer {
	position: relative;
}

.PurchaseModalMessageImage {
	display: inline-block;
	width: 110px;
	height: 110px;
}

.PurchaseModalMessageText {
	display: inline-block;
	width: 275px;
	vertical-align: top;
	padding-top: 28px;
}

.PurchaseModalButtonContainer {
	clear: left;
	padding-top: 10px;
	text-align: center;
}

.PurchaseModalFooter {
	text-align: center;
	margin: 10px auto 0;
	padding-bottom: 5px;
}

.ProcessingModalBody {
	margin: 15px auto;
	text-align: center;
	vertical-align: middle;
	background: none;
}

.CurrencyColor1 {
	color: #080;
	padding-left: 20px;
	background: url(/web/20160429201715im_/https://static.rbxcdn.com/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -42px;
}

.CurrencyColor2 {
	color: #A61;
	padding-left: 20px;
	background: url(/web/20160429201715im_/https://static.rbxcdn.com/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -122px;
}

.CurrencyColorFree {
	color: #080;
}

.actions {
	position: relative;
	height: 22px;
	clear: both;
	padding-bottom: 15px;
}

.actions .voting {
	position: absolute;
	top: 0;
	left: 10px;
}

#EditItemContainer {
	margin-top: 50px;
}

#EditItemContainer .StandardBoxHeader {
	background: none;
	border: 0;
	color: #333;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 12px;
    color: #343434;
    letter-spacing: -1px;
}

#EditItemContainer .StandardBoxHeader span {
	background: none;
	height: auto;
	padding: 0;
}

#EditItem #ItemName {
	width: 500px;
	margin: 20px auto 0;
}

#EditItem #ItemName .Label {
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 14px;
	font-weight: 550;
}

#EditItem #ItemName .TextBox {
	width: 100%;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
}

#EditItem #ItemDescription {
	width: 500px;
	margin: 20px auto;
		
}

#EditItem #ItemDescription .MultilineTextBox {
	width: 100%;
	min-height: 200px;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	border: 1px solid #ccc;
	padding: 5px;
}

#EditItem #ItemDescription .Label {
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 14px;
	font-weight: 550;
}

#SellItem {
	margin-top: 25px;
}

#SellItem fieldset {
	border: none;
	margin: 0;
}

#SellItem .Suggestion {
	width: auto;
	margin: 0 0 10px 20px;
}

#SellItem table {
	width: auto;
	margin: 10px 0 0 115px;
}

#SellItem td {
	padding: 8px 4px;
}

#SellItem td:first-child {
	text-align: right;
	padding-right: 8px;
	font-weight: 600;
}

#SellItem .EnableCommentsRow {
	margin-left: 40px !important;
}

#SellItem .MarketplaceFeeNote {
	display: inline-block;
	margin-left: 2px;
	margin-top: 0;
}

#SellItem .CurrencyColor1 {
	padding-left: 20px;
	background: url(/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -42px;
	margin-right: 4px;
	color: #080;
	font-weight: 600;
}

#SellItem .icon-robux {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
}

#SellItem .sell-robux-amount {
	font-size: 12px;
	margin-left: -6px;
	position: relative;
	top: 1px;
	color: #186911;
}