/* ~/CSS/Base/CSS/Thumbnail.css */
.thumbnail-holder {
	margin: 0 auto;
	position: relative;
	width: inherit;
	height: inherit;
}

.thumbnail-overlay {
	pointer-events: none;
}

.thumbnail-spinner {
	width: inherit;
	height: inherit;
}

.thumbnail-span {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.thumbnail-span>img {
	width: 100%;
	height: 100%;
}

.user-avatar-overlay-image {
	position: absolute;
	bottom: 0;
	left: 60px;
}

.enable-three-dee {
	position: absolute;
	right: 80px;
	bottom: 0;
	visibility: hidden;
}