/* Catalog item page specific extracted styles */

/* Make this legacy catalog page use full width inside navContent so its own layout can center properly */
#navContent > .container {
  max-width: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* Match the outer page background to the catalog content so there are no white side columns */
#rbx-body {
  background-color: #e3e3e3; /* match the gray used by the catalog layout */
}

/* Core content layout extracted from SiteStyle.css so the page can render correctly without relying on SiteStyle */
.content {
  max-width: 1338px;
  background-color: #E3E3E3;
  padding-top: 12px;
  margin: 0 auto;
}

.content:before,
.content:after {
  content: " ";
  display: table;
}

.content:after {
  clear: both;
}

@media (max-width: 1338px) {
  .content {
    max-width: 1154px;
  }
}

@media (max-width: 1154px) {
  .content {
    max-width: 970px;
  }
}

/* Primary large buttons (Buy) */
.btn-primary-lg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: box-shadow 200ms ease-in-out;
  -o-transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  border: 1px solid transparent;
  background-color: #02b757;
  border-color: #02b757;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 15px 15px;
  font-size: 21px;
  line-height: 100%;
  border-radius: 5px;
}

.btn-primary-lg:link {
  color: #fff;
}

.btn-primary-lg:hover,
.btn-primary-lg:focus {
  background-color: #3FC679;
  box-shadow: 0 1px 3px rgba(150, 150, 150, 0.74);
  border-color: #3FC679;
  color: #fff;
  cursor: pointer;
}

.btn-primary-lg:active,
.btn-primary-lg.active {
  box-shadow: none;
  background-color: #3FC679;
  color: #fff;
}

.btn-primary-lg:active:focus,
.btn-primary-lg.active:focus {
  outline: 0 none;
}

.btn-primary-lg:visited {
  box-shadow: none;
  color: #fff;
}

.btn-primary-lg:visited:focus {
  outline: 0 none;
}

.btn-primary-lg.disabled,
.btn-primary-lg.disabled:hover,
.btn-primary-lg.disabled:focus,
.btn-primary-lg.disabled:active,
.btn-primary-lg.disabled.active,
.btn-primary-lg[disabled],
.btn-primary-lg[disabled]:hover,
.btn-primary-lg[disabled]:focus,
.btn-primary-lg[disabled]:active,
.btn-primary-lg[disabled].active {
  opacity: 1;
  background-color: #A3E2BD;
  border-color: #A3E2BD;
  color: #fff;
  cursor: default;
}

@media (max-width: 767px) {
  .btn-primary-lg {
    padding: 9px 9px;
    font-size: 18px;
    line-height: 100%;
    border-radius: 3px;
  }
}

.touch .btn-primary-lg:not([disabled]):hover,
.touch .btn-primary-lg:not([disabled]):focus,
.touch .btn-primary-lg:not([disabled]):visited {
  color: #fff;
  background-color: #02b757;
  border-color: #02b757;
}

.touch .btn-primary-lg:not([disabled]):active,
.touch .btn-primary-lg:not([disabled]).active {
  color: #fff;
  background-color: #118237;
  border-color: #118237;
}

@media (max-width: 767px) {
  .touch .btn-primary-lg {
    padding: 9px 9px;
    font-size: 18px;
    line-height: 100%;
    border-radius: 3px;
  }
}

/* Medium control buttons (Read More etc.) */
.btn-control-md {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: box-shadow 200ms ease-in-out;
  -o-transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  border: 1px solid transparent;
  background-color: #fff;
  border-color: #B8B8B8;
  color: #191919;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: auto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 9px 9px;
  font-size: 18px;
  line-height: 100%;
  border-radius: 3px;
}

.btn-control-md:link {
  color: #191919;
}

.btn-control-md:hover,
.btn-control-md:focus {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(150, 150, 150, 0.74);
  border-color: #B8B8B8;
  color: #191919;
  cursor: pointer;
}

.btn-control-md:active,
.btn-control-md.active {
  box-shadow: none;
  background-color: #fff;
  color: #191919;
}

.btn-control-md:active:focus,
.btn-control-md.active:focus {
  outline: 0 none;
}

.btn-control-md:visited {
  box-shadow: none;
  color: #191919;
}

.btn-control-md:visited:focus {
  outline: 0 none;
}

.btn-control-md.disabled,
.btn-control-md.disabled:hover,
.btn-control-md.disabled:focus,
.btn-control-md.disabled:active,
.btn-control-md.disabled.active,
.btn-control-md[disabled],
.btn-control-md[disabled]:hover,
.btn-control-md[disabled]:focus,
.btn-control-md[disabled]:active,
.btn-control-md[disabled].active {
  opacity: 1;
  background-color: #fff;
  border-color: #B8B8B8;
  color: #B8B8B8;
  cursor: default;
}

@media (max-width: 767px) {
  .btn-control-md {
    padding: 7px 7px;
    font-size: 16px;
    line-height: 100%;
    border-radius: 3px;
  }
}

.touch .btn-control-md:not([disabled]):hover,
.touch .btn-control-md:not([disabled]):focus,
.touch .btn-control-md:not([disabled]):visited {
  color: #191919;
  background-color: #fff;
  border-color: #B8B8B8;
}

.touch .btn-control-md:not([disabled]):active,
.touch .btn-control-md:not([disabled]).active {
  color: #191919;
  background-color: #F2F2F2;
  border-color: #B8B8B8;
}

@media (max-width: 767px) {
  .touch .btn-control-md {
    padding: 7px 7px;
    font-size: 16px;
    line-height: 100%;
    border-radius: 3px;
  }
}

/* Button widths */
.btn-fixed-width-lg {
  width: 180px;
}

.btn-full-width {
  width: 100%;
}

/* Section / card container around the item details */
.container-list {
  margin: 0 0 6px;
}

.section-content {
  margin: 0 0 18px;
}

@media (max-width: 767px) {
  .section-content {
    margin: 0 0 12px;
  }
}

.container-list {
  padding: 0;
}

@media (max-width: 991px) {
  .container-list {
    padding: 0 15px;
  }
}

.container-list .btn-full-width {
  width: 100%;
}

.section {
  position: relative;
}

.section:before,
.section:after {
  content: " ";
  display: table;
}

.section:after {
  clear: both;
}

/* Actual card appearance */
.section-content {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(25, 25, 25, 0.3);
  padding: 15px;
  position: relative;
}

.section-content:before,
.section-content:after {
  content: " ";
  display: table;
}

.section-content:after {
  clear: both;
}

/* Item page layout pieces extracted from ItemPage.css */

/* Match content / alert widths to catalog layout */
.content {
  max-width: 1154px;
}

.alert-system-feedback .alert {
  max-width: 1154px;
}

.no-header-nav .alert-system-feedback .alert,
.content-no-ads .alert-system-feedback .alert,
.gutter-ads .alert-system-feedback .alert {
  max-width: 970px;
}

.page-content {
  max-width: 970px;
  float: left;
  width: 100%;
}

@media (max-width: 1174px) {
  .page-content {
    float: none;
    margin: 0 auto;
    padding: 0 12px;
  }
}

@media (max-width: 991px) {
  .page-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.container-main.no-header-nav .page-content,
.container-main.content-no-ads .page-content {
  float: none;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 767px) {
  .top-section {
    padding-bottom: 0;
  }
}

.item-thumbnail-container {
  float: left;
}

@media (max-width: 767px) {
  .item-thumbnail-container {
    float: none;
  }

  .item-thumbnail-container .thumbnail-holder {
    margin: 0 auto;
  }
}

.item-details {
  width: 488px;
  width: calc(100% - 420px);
  padding-left: 12px;
  float: right;
}

@media (max-width: 970px) {
  .item-details {
    width: 398px;
    width: calc(100% - 300px);
  }
}

@media (max-width: 767px) {
  .item-details {
    width: 100%;
    padding-left: 0;
    margin-top: 18px;
    float: none;
  }
}

.item-name-container {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 12px;
  margin-left: 12px;
  padding-bottom: 12px;
  float: right;
  width: 477px;
  width: calc(100% - 432px);
}

@media (max-width: 970px) {
  .item-name-container {
    width: 385px;
    width: calc(100% - 312px);
  }
}

@media (max-width: 767px) {
  .item-name-container {
    width: 100%;
    float: none;
    border: none;
    margin: 0;
  }
}

.item-name-container h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 40px;
}

@media (max-width: 767px) {
  .item-name-container h2 {
    margin-right: 0;
  }
}

.item-details .description-content {
  white-space: pre-line;
}

.item-details .item-mobile-description {
  display: none;
}

@media (max-width: 767px) {
  .item-details .item-description {
    display: none;
  }

  .item-details .item-mobile-description {
    display: block;
  }

  .item-social-container li {
    width: 100%;
  }
}

.item-social-container {
  width: 420px;
}

@media (max-width: 970px) {
  .item-social-container {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .item-social-container {
    width: auto;
    margin-right: -12px;
    margin-left: -12px;
    margin-top: 12px;
  }
}

.item-field-container {
  margin-top: 12px;
}

@media (max-width: 767px) {
  .item-field-container {
    margin: 12px 0;
  }
}

.field-label {
  display: block;
  width: 90px;
  padding-right: 9px;
  float: left;
}

@media (max-width: 767px) {
  .field-label {
    width: 45%;
    padding-right: 0;
  }
}

.field-content {
  position: relative;
  display: block;
  width: 380px;
  width: calc(100% - 90px);
  float: left;
  font-weight: 400;
}

@media (max-width: 970px) {
  .field-content {
    width: 280px;
    width: calc(100% - 90px);
  }
}

@media (max-width: 767px) {
  .field-content {
    width: 55%;
  }
}