@{ Layout = "_Layout"; }

<link rel="stylesheet" href="~/CSS/Pages/Upgrades/Robux.css">

<div id="RobuxContainer" class="row robux-container">
    <div class="robux-header">
        <h1>Buy ROBUX</h1>
        <h3>™</h3>
    </div>
    <ul class="grid robux-grid ">
        <li class="cell col-grid-12 robux-cell-header">
            <div class="cell-content">
                <div class="robux-header-icon">
                    <span class="icon-robux"></span>
                </div>
                <p class="robux-header-desc">
                    <span>ROBUX is the virtual currency used in many of our online games.</span>
                    <span>You can also use ROBUX for finding a great look for your character.</span>
                    <span>
                        Get cool gear to take into multiplayer battles.
                    </span>
                    <span>Buy Limited items to sell and trade.You’ll need ROBUX to make it all happen. What are you waiting for?</span>
                </p>
            </div>
        </li>
    </ul>
    <ul class="grid robux-grid ">
            <li class="cell col-grid-4">
                <div class="cell-content">
                    <div class="robux-title">
                        <h1>400</h1>
                        <h2>ROBUX</h2>
                    </div>
                    <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/Upgrades/PaymentMethods?ap=42&amp;page=grid" class="btn-primary-md robux-product-price btn-full-width robux-buy">Buy for $4.95</a>
                        <div class="robux-bonus-nbc">Want to get <span class="robux-bonus">50 Bonus ROBUX</span> ?
                        </div>
                        <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/premium/membership?ap=42&amp;page=grid" class="text-name"> Join Builders Club</a>


                </div>
            </li>
            <li class="cell col-grid-4">
                <div class="cell-content">
                    <div class="robux-title">
                        <h1>800</h1>
                        <h2>ROBUX</h2>
                    </div>
                    <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/Upgrades/PaymentMethods?ap=45&amp;page=grid" class="btn-primary-md robux-product-price btn-full-width robux-buy">Buy for $9.95</a>
                        <div class="robux-bonus-nbc">Want to get <span class="robux-bonus">200 Bonus ROBUX</span> ?
                        </div>
                        <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/premium/membership?ap=45&amp;page=grid" class="text-name"> Join Builders Club</a>


                </div>
            </li>
            <li class="cell col-grid-4">
                <div class="cell-content">
                    <div class="robux-title">
                        <h1>2,000</h1>
                        <h2>ROBUX</h2>
                    </div>
                    <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/Upgrades/PaymentMethods?ap=10&amp;page=grid" class="btn-primary-md robux-product-price btn-full-width robux-buy">Buy for $24.95</a>
                        <div class="robux-bonus-nbc">Want to get <span class="robux-bonus">750 Bonus ROBUX</span> ?
                        </div>
                        <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/premium/membership?ap=10&amp;page=grid" class="text-name"> Join Builders Club</a>


                </div>
            </li>
            <li class="cell col-grid-4">
                <div class="cell-content">
                    <div class="robux-title">
                        <h1>4,500</h1>
                        <h2>ROBUX</h2>
                    </div>
                    <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/Upgrades/PaymentMethods?ap=46&amp;page=grid" class="btn-primary-md robux-product-price btn-full-width robux-buy">Buy for $49.95</a>
                        <div class="robux-bonus-nbc">Want to get <span class="robux-bonus">1,500 Bonus ROBUX</span> ?
                        </div>
                        <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/premium/membership?ap=46&amp;page=grid" class="text-name"> Join Builders Club</a>


                </div>
            </li>
            <li class="cell col-grid-4">
                <div class="cell-content">
                    <div class="robux-title">
                        <h1>10,000</h1>
                        <h2>ROBUX</h2>
                    </div>
                    <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/Upgrades/PaymentMethods?ap=19&amp;page=grid" class="btn-primary-md robux-product-price btn-full-width robux-buy">Buy for $99.95</a>
                        <div class="robux-bonus-nbc">Want to get <span class="robux-bonus">5,000 Bonus ROBUX</span> ?
                        </div>
                        <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/premium/membership?ap=19&amp;page=grid" class="text-name"> Join Builders Club</a>


                </div>
            </li>
            <li class="cell col-grid-4">
                <div class="cell-content">
                    <div class="robux-title">
                        <h1>22,500</h1>
                        <h2>ROBUX</h2>
                    </div>
                    <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/Upgrades/PaymentMethods?ap=21&amp;page=grid" class="btn-primary-md robux-product-price btn-full-width robux-buy">Buy for $199.95</a>
                        <div class="robux-bonus-nbc">Want to get <span class="robux-bonus">12,500 Bonus ROBUX</span> ?
                        </div>
                        <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/premium/membership?ap=21&amp;page=grid" class="text-name"> Join Builders Club</a>


                </div>
            </li>
    </ul>

    <div class="xsmall robux-footer">
        Prices for Turbo and Outrageous Builders Club are the same as for regular Builders Club. All sales are final. Please see our <a href="https://web.archive.org/web/20160410120934/https://www.roblox.com/info/terms-of-service" class="text-name xsmall">Terms &amp; Conditions</a> for more information.
    </div>
</div>