/* ~/CSS/Pages/Upgrades/Robux.css */
.grid:before,
.grid:after {
    content: " ";
    display: table;
}

.grid:after {
    clear: both;
}

.grid .cell {
    float: left;
    padding: 5px;
}

.grid .cell-content {
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 0 10px #ccc;
}

.grid .cell-content:before,
.grid .cell-content:after {
    content: " ";
    display: table;
}

.grid .cell-content:after {
    clear: both;
}

.col-grid-4 {
    width: 33.33333%;
}

.col-grid-8 {
    width: 66.66667%;
}

.icon-robux {
    background-position: -98px -392px;
}

.content {
    max-width: 970px;
    padding-top: 0;
}

.robux-header {
    padding: 10px 0;
}

.robux-header:before,
.robux-header:after {
    content: " ";
    display: table;
}

.robux-header:after {
    clear: both;
}

.robux-header h1,
.robux-header h3 {
    float: left;
    display: inline-block;
}

.robux-header h1 {
    line-height: 1em;
}

@media(max-width:767px) {
    .robux-header {
        padding: 2px 0;
    }

    .robux-header h1 {
        font-size: 30px;
    }

    .robux-header h3 {
        font-size: 12px;
        margin-top: 12px;
    }
}

.robux-grid .cell-content {
    height: 170px;
    padding: 12px 24px;
    position: relative;
}

.robux-grid .robux-set-flag {
    position: absolute;
    width: 96px;
    height: 27px;
    top: 0;
    right: -6px;
    background-color: #F68802;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 4px 0;
    text-transform: uppercase;
}

.robux-grid .robux-set-flag .robox-flag-traingle {
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 0;
    height: 0;
    margin-left: -6px;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #9F550D;
}

@media(max-width:991px) {
    .robux-grid .cell-content {
        height: 150px;
        padding: 12px;
    }
}

.robux-grid .robux-title {
    height: 36px;
}

.robux-grid .robux-title h1,
.robux-grid .robux-bonus {
    font-weight: 400;
}

.robux-grid .robux-title h1,
.robux-grid .robux-title h2 {
    display: inline-block;
    margin: 0;
}

.robux-grid .robux-title h1 {
    color: #757575;
    line-height: 1em;
}

.robux-grid .robux-title h2 {
    color: #B8B8B8;
}

@media(max-width:991px) {
    .robux-grid .robux-title {
        height: 30px;
    }

    .robux-grid .robux-title h1 {
        font-size: 30px;
    }

    .robux-grid .robux-title h2 {
        font-size: 24px;
    }
}

.robux-grid .robux-cell-header .cell-content {
    padding: 12px;
}

.robux-grid .robux-cell-header .cell-content:before,
.robux-grid .robux-cell-header .cell-content:after {
    content: " ";
    display: table;
}

.robux-grid .robux-cell-header .cell-content:after {
    clear: both;
}

.robux-grid .robux-cell-header .robux-header-icon,
.robux-grid .robux-cell-header .robux-header-desc {
    float: left;
    display: inline-block;
}

.robux-grid .robux-cell-header .robux-header-icon {
    margin: 0 12px 0 8px;
    width: 98px;
}

.robux-grid .robux-cell-header .robux-header-icon .icon-robux {
    background-size: 200% auto;
    width: 98px;
    height: 98px;
}

.robux-grid .robux-cell-header .robux-header-desc {
    width: 70%;
    width: calc(100% - 98px - 12px * 4);
    margin: 8px 0 0;
}

.robux-grid .robux-cell-header .robux-header-desc span {
    display: inline-block;
    width: 100%;
}

@media(max-width:991px) {
    .robux-grid .robux-cell-header .robux-header-icon {
        width: 60px;
        margin: 0 6px 0 8px;
    }

    .robux-grid .robux-cell-header .robux-header-icon .icon-robux {
        -webkit-transform: scale(0.61224);
        -ms-transform: scale(0.61224);
        -o-transform: scale(0.61224);
        transform: scale(0.61224);
        margin: -18px 0 0 -24px;
    }

    .robux-grid .robux-cell-header .robux-header-desc {
        width: 80%;
        width: calc(100% - 60px - 12px * 2);
        font-size: 14px;
        margin: 0;
        max-height: 100px;
    }
}

@media(max-width:767px) {
    .robux-grid .robux-cell-header .robux-header-icon {
        display: none;
    }

    .robux-grid .robux-cell-header .robux-header-desc {
        float: none;
        width: 100%;
    }
}

@media(max-width:767px) {
    .robux-grid .robux-cell-header .cell-content {
        height: auto;
    }
}

.robux-grid .robux-bonus-nbc {
    padding: 0 0 5px;
}

@media(max-width:991px) {
    .robux-grid .robux-bonus-nbc {
        font-size: 14px;
    }
}

.robux-grid .robux-buy {
    width: 100%;
    margin: 9px 0;
}

.robux-grid-bc .cell-content {
    height: 126px;
}

.robux-grid-bc .robux-cell-header .robux-header-desc {
    margin: 0;
}

@media(max-width:991px) {
    .robux-grid-bc .cell-content {
        height: 104px;
    }
}

@media(max-width:991px) {
    .robux-container {
        margin: 0 12px;
    }
}

@media(max-width:767px) {
    .cell {
        float: none;
        width: 100%;
        padding: 0 0 12px;
    }
}

.robux-footer {
    color: #757575;
    padding: 12px 0 0 5px;
}