/* Legacy CSS file - Please do not copy */
div#testingSitePanelWrapper, #BodyWrapper {
  margin: 0 auto;
  width: 970px;
  background: white; }

/*
     FILE ARCHIVED ON 20:04:07 Jun 26, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:43 Mar 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.535
  load_resource: 104.62
  PetaboxLoader3.resolve: 41.418
  PetaboxLoader3.datanode: 40.42
*/