/* Legacy CSS file - Please do not copy */
.blueAndWhite {
  border: 2px solid #6e99c9;
  background-color: #ffffff;
  color: #000000; }

.blueAndWhite .titleBar {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  margin-bottom: 5px;
  font-size: 13px; }

.PlaceLauncherStatus {
  color: #333;
  display: none;
  font-size: 16px;
  font-weight: bolder;
  line-height: 19px; }

.PlaceLauncherStatusBackBuffer {
  position: relative;
  display: none; }

.CancelPlaceLauncherButton {
  background-color: White;
  border: none;
  color: Blue;
  cursor: pointer;
  font-size: 12px; }

.CancelPlaceLauncherButton:Hover, .CancelPlaceLauncherButton:Active {
  background-color: White;
  border: none;
  color: Blue;
  cursor: pointer;
  text-decoration: underline; }

.PlaceLauncherModal {
  border: none;
  color: Black;
  height: 125px;
  margin: 1.5em;
  padding: 10px;
  text-align: center;
  width: 360px; }

.VisitButtonsGuestCharacter {
  display: inline-block;
  padding: 10px 5px;
  cursor: pointer; }

.mac-install-steps {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  font-size: 12px; }

/*
     FILE ARCHIVED ON 23:15:31 Jun 26, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:11:43 Mar 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.765
  load_resource: 145.641
  PetaboxLoader3.datanode: 54.028
*/