@font-face{
    font-family: "HCo Gotham SSm";
    src: url('https://www.pekora.zip/fonts/GothamSSmBook.woff2') format("woff2");
    font-weight:400;
    font-style:normal;
  }
  @font-face{
    font-family: "HCo Gotham SSm";
    src: url('https://www.pekora.zip/fonts/GothamSSmLight.woff2') format("woff2");
    font-weight:300;
    font-style:normal;
  }
  @font-face{
    font-family: "HCo Gotham SSm";
    src: url('https://www.pekora.zip/fonts/GothamSSmMedium.woff2') format("woff2");
    font-weight:500;
    font-style:normal;
  }
  @font-face{
    font-family: "HCo Gotham SSm";
    src: url('https://www.pekora.zip/fonts/GothamSSmBold.woff2') format("woff2");
    font-weight:700;
    font-style:normal;
  }
  @font-face{
    font-family: "HCo Gotham SSm";
    src: url('https://www.pekora.zip/fonts/GothamSSmBlack.woff2') format("woff2");
    font-weight:800;
    font-style:normal;
  }